.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    @include for-size(tablet) {   
        padding-right: 47px;
        padding-left: 47px;
     }

     @include for-size(desktop) {   
        padding-right: 88px;
        padding-left: 88px;
     }  
   
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
  }

body {
    font-family: montserrat, sans-serif;
    color: var(--main-text-color);
    margin: 0px;
}