.container {
    width: 100%;
    max-width: $desktop;
    min-width: 200px;

    padding-right: 15px;
    padding-left: 15px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width: $mobile) {

        width: $mobile;

    }


    @media screen and (min-width: $tablet) {
        padding-right: 47px;
        padding-left: 47px;

        width: $tablet;

    }

    @media screen and (min-width: $desktop) {
        padding-right: 85px;
        padding-left: 85px;

        width: $desktop;

    }
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: $main-text-color;
    margin: 0px;
}