    $accent-color: #F3C653;

    $primary-color: #FFFFFF;
    $secondary-color: #000000;
    
    $main-text-color: #7A7A7A;
    $second-text-color: #C79002;
    $third-text-color: #BABABA;
    $logo-text-color: #494848;
    $title-text-color: #B4B4B4;
    $address-text-color: #E5E5E5;
    $coordinates-text-color: #828282;
    
    $placeholder-text-color: #808080;
    $button-close-color: #D9D9D9;
   
    $main-background-color: #FFFDEE;
    $second-background-color: #F0ECD6;
    $footer-background-color: #0E0C07;
    $button-background-color: rgba(0, 0, 0, 0.4);
    $shadow-color:rgba(0, 0, 0, 0.25);
    $shadow-image-color: #DADADA;
    $overlay-hero-color: rgba(0, 0, 0, 0.65);
    $overlay-section-color: rgba(0, 0, 0, 0.76);
    $gradient-color: rgba(0, 0, 0, 0.55);
    $arrow-hero-background: rgba(0, 0, 0, 0.65);
    $accent-light-color: rgba(243, 198, 83, 0.7);

    $font-family: sans-serif;
    $font-main: 'Montserrat';

    $mobile: 414px;
    $tablet: 1024px;
    $desktop: 1280px; 
