<section class="hotel-details">
  <div class="hotel-details__container container">
    <div class="hotel-details__wrapper">
      <div class="hotel-details__info">
        <h2 class="hotel-details__tittle">
          <a href="/src/index.html" class="hotel-details__name">mimiho</a>
        </h2>
        <h3 class="hotel-details__text">Готель</h3>
        <p class="hotel-details__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit.
        </p>
      </div>

      <div class="swiper-button__container">
        <!--SLIDER FOR DETAIL HOTEL -->
        <div class="hotel-details__slider-wrapper">
          <div data-slider="det-rest-slider">
            <div class="swiper"
            >
              <ul class="swiper-wrapper">
                <li class="swiper-slide">
                  <div class="swiper-inner">
                    <picture>
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider2-1280.jpg    1x,
                          ./images/homepage/homepage-section4-slider2-1280@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider2-414.jpg    1x,
                          ./images/homepage/homepage-section4-slider2-414@2x.jpg 2x
                        "
                        media="(min-width: 414px)"
                      />
                      <img
                        class="img-wrap"
                        src="./images/homepage/homepage-section4-slider2-270.jpg"
                        alt="Breakfast"
                      />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="swiper-inner">
                    <picture>
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider1-1280.jpg    1x,
                          ./images/homepage/homepage-section4-slider1-1280@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                      />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider1-414.jpg    1x,
                          ./images/homepage/homepage-section4-slider1-414@2x.jpg 2x
                        "
                        media="(min-width: 414px)"
                      />
                      <img
                        class="img-wrap"
                        src="./images/homepage/homepage-section4-slider1-270.jpg"
                        alt="bedroom"
                      />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="swiper-inner">
                    <picture>
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider3-1280.jpg    1x,
                          ./images/homepage/homepage-section4-slider3-1280@2x.jpg 2x
                        "
                        media="(min-width: 1280px)"
                     />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider3-1024.jpg    1x,
                          ./images/homepage/homepage-section4-slider3-1024@2x.jpg 2x
                        "
                        media="(min-width: 414px)"
                      />
                      <img
                        class="img-wrap"
                        src="./images/homepage/homepage-section4-slider3-270.jpg"
                        alt="Registration desk"
                      />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="swiper-inner">
                    <picture>
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider4-414.jpg    1x,
                          ./images/homepage/homepage-section4-slider4-414@2x.jpg 2x
                        "
                        media="(max-width: 1023px)"
                        type="image/jpeg"
                      />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider4-1024.jpg    1x,
                          ./images/homepage/homepage-section4-slider4-1024@2x.jpg 2x
                        "
                        media="(max-width: 1279px)"
                        type="image/jpeg"
                      />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider4-1280.jpg    1x,
                          ./images/homepage/homepage-section4-slider4-1280@2x.jpg 2x
                        "
                        type="image/jpeg"
                      />
                      <img
                        class="img-wrap"
                        src="./images/homepage/homepage-section4-slider4-414.jpg"
                        alt="Зображення слайду №4"
                      />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="swiper-inner">
                    <picture>
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider5-414.jpg    1x,
                          ./images/homepage/homepage-section4-slider5-414@2x.jpg 2x
                        "
                        media="(max-width: 1023px)"
                        type="image/jpeg"
                      />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider5-1024.jpg    1x,
                          ./images/homepage/homepage-section4-slider5-1024@2x.jpg 2x
                        "
                        media="(max-width: 1279px)"
                        type="image/jpeg"
                      />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider5-1280.jpg    1x,
                          ./images/homepage/homepage-section4-slider5-1280@2x.jpg 2x
                        "
                        type="image/jpeg"
                      />
                      <img
                        class="img-wrap"
                        src="./images/homepage/homepage-section4-slider5-414.jpg"
                        alt="Зображення слайду №5"
                      />
                    </picture>
                  </div>
                </li>
                <li class="swiper-slide">
                  <div class="swiper-inner">
                    <picture>
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider6-414.jpg    1x,
                          ./images/homepage/homepage-section4-slider6-414@2x.jpg 2x
                        "
                        media="(max-width: 1023px)"
                        type="image/jpeg"
                      />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider6-1024.jpg    1x,
                          ./images/homepage/homepage-section4-slider6-1024@2x.jpg 2x
                        "
                        media="(max-width: 1279px)"
                        type="image/jpeg"
                      />
                      <source
                        srcset="
                          ./images/homepage/homepage-section4-slider6-1280.jpg    1x,
                          ./images/homepage/homepage-section4-slider6-1280@2x.jpg 2x
                        "
                        type="image/jpeg"
                      />
                      <img
                        class="img-wrap"
                        src="./images/homepage/homepage-section4-slider5-414.jpg"
                        alt="Зображення слайду №6"
                      />
                    </picture>
                  </div>
                </li>
              </ul>

              <div class="det-hot__swiper-btns">
                <button type="button" class="arrow-swiper-prev">
                  <svg class="" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                  </svg>
                </button>
                <button type="button" class="arrow-swiper-next">
                  <svg class="" width="32" height="32">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                  </svg>
                </button>
              </div>
            </div>
          </div>
        </div>

        <!--Buttons for order -->
        <div class="hotel-details__buttons">
          <button
            type="button"
            class="button-transparent hotel-details__btn-reserve"
            data-modal-open-room
          >
            Забронювати номер
          </button>
          <button
              type="button"
              class="button-transparent hotel-details__btn-price"
              data-modal-open-price
            >
              Переглянути ціни
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
