<section class="contacts">
  <div class="container">
    <h2 class="visually-hidden">Контакти</h2>
    <div class="contacts__container">
      <div class="contacts__address-container">
        <p lang="en" class="contacts__title">mimiho</p>
        <h3 class="contacts__header">Ресторанно-готельний комплекс</h3>
        <address class="contacts__address">
          <ul class="contacts__list">
            <li class="contacts__item">
              <p class="contacts__text">Ресторан</p>
              <div
                class="contacts__thumb contacts__thumb--restaurant"
              >
                <svg width="24" height="24" class="contacts__phone-icon">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <p class="contacts__phone">095 555 95 33</p>
              </div>
            </li>
            <li class="contacts__item">
              <p class="contacts__text">Готель</p>
              <div class="contacts__thumb contacts__thumb--hotel"">
                <svg width="24" height="24" class="contacts__phone-icon">
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <div class="contacts__phone-thumb">
                  <p class="contacts__phone">066 849 10 89</p>
                  <p class="contacts__phone">067 275 85 40</p>
                </div>
              </div>
            </li>
              <li class="contacts__item">
              
                  <a
                    href="https://goo.gl/maps/tRPL9USdRp7PTAeY7"
                    target="_blank"
                    rel="noreferrer noopener nofollow"
                    class="contacts__link contacts__thumb contacts__thumb--address"
                  >
                  
                    <svg width="24" height="24" class="contacts__location-icon">
                      <use href="./images/icons.svg#icon-location"></use>
                    </svg>
                    <p class="contacts__location">
                      Україна, м. Полтава,<br class="contacts__br-first"/>
                      вул. Маршала<br class="contacts__br-second"/>
                      Бірюзова, 15
                    </p>
                  
                  </a>
                
              </li>
          </ul>
        </address>
      </div>
      <div class="contacts__map-thumb">
        <iframe
          class="contacts__map" 
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d40623.34860090686!2d34.4883489!3d49.5958303!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d82601f34ac947%3A0xbb948724f7cf0b61!2z0JPQvtGC0LXQu9GM0L3Qvi3RgNC10YHRgtC-0YDQsNC90L3QuNC5INC60L7QvNC_0LvQtdC60YEgItCc0ZbQvNGW0L3QviI!5e1!3m2!1suk!2sua!4v1675545467321!5m2!1suk!2sua"
          style="border:0;" 
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
        
        <!-- <picture class="contacts__map">
          <source
                media="(min-width: 1280px)"
                srcset="
                ./images/homepage/homepage-section5-map-1280.jpg 1x,
                ./images/homepage/homepage-section5-map-1280.jpg  2x
                "
                type="image/jpg"
            />
            <source
                media="(min-width: 1024px)"
                srcset="
                ./images/homepage/homepage-section5-map-1024.jpg 1x,
                ./images/homepage/homepage-section5-map-1024.jpg 2x
                "
                type="image/jpg"
            />

          <source
            media="(max-width: 1023px)"
            srcset="
              ./images/homepage/homepage-section5-map-414.jpg    1x,
              ./images/homepage/homepage-section5-map-414@2x.jpg 2x
            "
            type="image/jpg"
          />
          <img
            src="./images/homepage/homepage-section5-map-414.jpg"
            alt="Карта місцезнаходження"
            loading="lazy"
          />
        </picture> -->
      </div>
    </div>
  </div>
</section>


