<section class="det-rest">
  <div class="container">
    <div class="det-rest__header">
      <div class="det-rest__logo">mimiho</div>
      <h2 class="det-rest__title">Ресторан</h2>
      <p class="det-rest__paragraph">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit.
      </p>
    </div>
    <div class="det-rest__thumb">
      <div class="det-rest__swiper-thumb">
        <div data-slider="det-rest-slider">
          <div class="swiper">
            <ul class="swiper-wrapper">
              <li class="swiper-slide">
                <div class="swiper-inner">
                  <picture>
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider1-414.jpg    1x,
                        ./images/homepage/homepage-section2-slider1-414@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider1-1024-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider1-1024-1280@2x.jpg 2x
                      "
                      media="(max-width: 1279px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider1-1024-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider1-1024-1280@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />
                    <img
                      class="about-rest__img--border"
                      src="./images/homepage/homepage-section2-slider1-414.jpg"
                      alt="Фото ресторану №3"
                    />
                  </picture>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="swiper-inner">
                  <picture>
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider2-414.jpg    1x,
                        ./images/homepage/homepage-section2-slider2-414@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider2-1024-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider2-1024-1280@2x.jpg 2x
                      "
                      media="(max-width: 1279px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider2-1024-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider2-1024-1280@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />
                    <img
                      class="about-rest__img--border"
                      src="./images/homepage/homepage-section2-slider2-414.jpg"
                      alt="Фото ресторану №4"
                    />
                  </picture>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="swiper-inner">
                  <picture>
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider3-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider3-1280@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider3-1024.jpg    1x,
                        ./images/homepage/homepage-section2-slider3-1024@2x.jpg 2x
                      "
                      media="(max-width: 1279px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider3-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider3-1280@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />
                    <img
                      class="about-rest__img--border"
                      src="./images/homepage/homepage-section2-slider3-1280.jpg "
                      alt="Фото ресторану №5"
                    />
                  </picture>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="swiper-inner">
                  <picture>
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider4-414.jpg    1x,
                        ./images/homepage/homepage-section2-slider4-414@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider4-1024.jpg    1x,
                        ./images/homepage/homepage-section2-slider4-1024@2x.jpg 2x
                      "
                      media="(max-width: 1279px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider4-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider4-1280@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />
                    <img
                      class="about-rest__img--border"
                      src="./images/homepage/homepage-section2-slider4-414.jpg"
                      alt="Фото ресторану №6"
                    />
                  </picture>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="swiper-inner">
                  <picture>
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider5-414.jpg    1x,
                        ./images/homepage/homepage-section2-slider5-414@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider5-1024.jpg    1x,
                        ./images/homepage/homepage-section2-slider5-1024@2x.jpg 2x
                      "
                      media="(max-width: 1279px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider5-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider5-1280@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />
                    <img
                      class="about-rest__img--border"
                      src="./images/homepage/homepage-section2-slider5-414.jpg"
                      alt="Фото ресторану №6"
                    />
                  </picture>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="swiper-inner">
                  <picture>
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider6-414.jpg    1x,
                        ./images/homepage/homepage-section2-slider6-414@2x.jpg 2x
                      "
                      media="(max-width: 1023px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider6-1024.jpg    1x,
                        ./images/homepage/homepage-section2-slider6-1024@2x.jpg 2x
                      "
                      media="(max-width: 1279px)"
                      type="image/jpeg"
                    />
                    <source
                      srcset="
                        ./images/homepage/homepage-section2-slider6-1280.jpg    1x,
                        ./images/homepage/homepage-section2-slider6-1280@2x.jpg 2x
                      "
                      type="image/jpeg"
                    />
                    <img
                      class="about-rest__img--border"
                      src="./images/homepage/homepage-section2-slider6-414.jpg"
                      alt="Фото ресторану №6"
                    />
                  </picture>
                </div>
              </li>
              <li class="swiper-slide">
                <div class="swiper-inner"></div>
              </li>
            </ul>

            <!-- коментуємо чи видаляемо якщо не потрібно -->

            <div class="det-rest__swiper-btns">
              <button type="button" class="arrow-swiper-prev">
                <svg class="" width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
              </button>
              <button type="button" class="arrow-swiper-next">
                <svg class="" width="32" height="32">
                  <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
              </button>
            </div>

            <!-- коментуємо чи видаляемо якщо не потрібно -->
          </div>
        </div>
      </div>
      <div class="det-rest__buttons-thumb">
        <button
          class="button-transparent det-rest__btn-geometry"
          modal-open-table
        >
          Забронювати столик
        </button>
        <a
          href="./restaurant.html"
          class="button-transparent det-rest__link-geometry"
          >Переглянути меню</a
        >
      </div>
    </div>
  </div>
</section>
