<section class="features-hotel">
    <div class="container">
        <h2 class="features-hotel__title visually-hidden">Чому слід обрати наш готель</h2>
        <ul class="features-hotel__list list">
            <li class="features-hotel__item">
                <div class="features-hotel__content features-hotel__content--right">
                    <h3 class="features-hotel__subject">Amet minim mollit non</h3>
                    <h4 class="features-hotel__caption">MIMIHO</h4>
                    <div class="features-hotel__text-box">
                        <p class="features-hotel__text">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <div class="features-hotel__card features-hotel__card--first">
                    <picture>
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-img1-414.jpg 1x, 
                                ./images/homepage/homepage-section3-img1-414@2x.jpg 2x
                            "
                            media="(max-width: 1023px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-img1-1280.jpg 1x, 
                                ./images/homepage/homepage-section3-img1-1280@2x.jpg 2x
                            "
                            media="(min-width: 1280px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-img1-1024.jpg 1x, 
                                ./images/homepage/homepage-section3-img1-1024@2x.jpg 2x
                            "
                            media="(min-width: 1024px)"
                            type="image/jpeg"
                        />
                        
                        <img 
                            class="features-hotel__img"
                            src="./images/homepage/homepage-section3-img1-1280.jpg"
                            alt="Кімната з двохспальним ліжком, диваном, столиком та з великим вікном"
                        />
                    </picture>
                </div>
            </li>
            <li class="features-hotel__item">
                <div class="features-hotel__content">
                    <div class="features-hotel__text-box features-hotel__text-box--brown">
                        <p class="features-hotel__text features-hotel__text--brown">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
                    </div>
                </div>
                <div class="features-hotel__card">
                    <picture>
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-img2-414.jpg 1x, 
                                ./images/homepage/homepage-section3-img2-414@2x.jpg 2x
                            "
                            media="(max-width: 1023px)"
                            type="image/jpeg"
                        />
                         <source
                            srcset=" 
                                ./images/homepage/homepage-section3-img2-1280.jpg 1x, 
                                ./images/homepage/homepage-section3-img2-1280@2x.jpg 2x
                            "
                            media="(min-width: 1280px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-img2-1024.jpg 1x, 
                                ./images/homepage/homepage-section3-img2-1024@2x.jpg 2x
                            "
                            media="(min-width: 1024px)"
                            type="image/jpeg"
                        />
                        <img 
                            class="features-hotel__img"
                            src="./images/homepage/homepage-section3-img2-1280.jpg"
                            alt="Кімната з каміном, диваном, столиком кріслом та вазою з квітами"
                        />
                    </picture>
                </div>
            </li>
        </ul>
        <div class="features-hotel__swiper-box swiper">
            <ul class="features-hotel__wripper swiper-wripper">
                <li class="features-hotel__swiper swiper-slide">
                    <picture>
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider2-414.jpg 1x, 
                               ./images/homepage/homepage-section3-slider2-414@2x.jpg 2x
                            "
                             media="(max-width: 1023px)"
                            type="image/jpeg"
                        />
                         <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider2-1280.jpg 1x, 
                                ./images/homepage/homepage-section3-slider2-1280@2x.jpg 2x
                            "
                            media="(min-width: 1280px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider2-1024.jpg 1x, 
                                ./images/homepage/homepage-section3-slider2-1024@2x.jpg 2x
                            "
                            media="(min-width: 1024px)"
                            type="image/jpeg"
                        />
                        <img 
                            class="features-hotel__swiper-img"
                            src="./images/homepage/homepage-section3-slider2-1280.jpg"
                            alt="Чотири рушника скрученні в рулони"
                        />
                    </picture>
                </li>
                <li class="features-hotel__swiper swiper-slide">
                    <picture>
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider1-414.jpg 1x, 
                                ./images/homepage/homepage-section3-slider1-414@2x.jpg 2x
                            "
                            media="(max-width: 1023px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider1-1280.jpg 1x, 
                                ./images/homepage/homepage-section3-slider1-1280@2x.jpg 2x
                           "
                            media="(min-width: 1280px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider1-1024.jpg 1x, 
                                ./images/homepage/homepage-section3-slider1-1024@2x.jpg 2x
                            "
                            media="(min-width: 1024px)"
                            type="image/jpeg"
                        />
                        <img 
                            class="features-hotel__swiper-img"
                            src="./images/homepage/homepage-section3-slider1-1280.jpg"
                            alt="Дві жінки посміхаються одна-одній"
                        />
                    </picture>
                </li>
                
                <!-- <li class="features-hotel__swiper swiper-slide">
                    <picture>
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider3-414.jpg 1x, 
                                ./images/homepage/homepage-section3-slider3-414@2x.jpg 2x
                            "
                            media="(max-width: 1023px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider3-1280.jpg 1x, 
                                ./images/homepage/homepage-section3-slider3-1280@2x.jpg 2x
                            "
                            media="(min-width: 1280px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider3-1024.jpg 1x, 
                                ./images/homepage/homepage-section3-slider3-1024@2x.jpg 2x
                            "
                            media="(min-width: 1024px)"
                            type="image/jpeg"
                        />
                        <img 
                            class="features-hotel__swiper-img"
                            src="./images/homepage/homepage-section3-slider3-1280.jpg"
                            alt="Кімната, в якій стоїть кімнатна рослина, чорний диван та білий комод"
                        />
                    </picture>
                </li>
                <li class="features-hotel__swiper swiper-slide">
                    <picture>
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider4-414.jpg 1x, 
                                ./images/homepage/homepage-section3-slider4-414@2x.jpg 2x
                            "
                            media="(max-width: 1023px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider4-1280.jpg 1x, 
                                ./images/homepage/homepage-section3-slider4-1280@2x.jpg 2x
                            "
                            media="(min-width: 1280px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider4-1024.jpg 1x, 
                                ./images/homepage/homepage-section3-slider4-1024@2x.jpg 2x
                            "
                            media="(min-width: 1024px)"
                            type="image/jpeg"
                        />
                        <img 
                            class="features-hotel__swiper-img"
                            src="./images/homepage/homepage-section3-slider4-1280.jpg"
                            alt="Кімната, в якій: понад стіною стоїть світлий диван, посередині кімнати лежить світлий килим, на якому стоїть стілець та лежать подушки"
                        />
                    </picture>
                </li>
                <li class="features-hotel__swiper swiper-slide">
                    <picture>
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider5-414.jpg 1x, 
                                ./images/homepage/homepage-section3-slider5-414@2x.jpg 2x
                            "
                            media="(max-width: 1023px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider5-1280.jpg 1x, 
                                ./images/homepage/homepage-section3-slider5-1280@2x.jpg 2x
                            "
                            media="(min-width: 1280px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider5-1024.jpg 1x, 
                                ./images/homepage/homepage-section3-slider5-1024@2x.jpg 2x
                            "
                            media="(min-width: 1024px)"
                            type="image/jpeg"
                        />
                        <img 
                            class="features-hotel__swiper-img"
                            src="./images/homepage/homepage-section3-slider5-1280.jpg"
                            alt="Кімната, в якій, зліва направо розташовуються: стелаж, великий, світло-коричневий кутовий диван, велика кімнатна рослина; біля дивану стоїть журнальний столик, над диваном висить дзеркало"
                        />
                    </picture>
                </li>
                <li class="features-hotel__swiper swiper-slide">
                    <picture>
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider6-414.jpg 1x, 
                                ./images/homepage/homepage-section3-slider6-414@2x.jpg 2x
                            "
                            media="(max-width: 1023px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider6-1280.jpg 1x, 
                                ./images/homepage/homepage-section3-slider6-1280@2x.jpg 2x
                            "
                            media="(min-width: 1280px)"
                            type="image/jpeg"
                        />
                        <source
                            srcset=" 
                                ./images/homepage/homepage-section3-slider6-1024.jpg 1x, 
                                ./images/homepage/homepage-section3-slider6-1024@2x.jpg 2x
                            "
                            media="(min-width: 1024px)"
                            type="image/jpeg"
                        />
                        <img 
                            class="features-hotel__swiper-img"
                            src="./images/homepage/homepage-section3-slider6-1280.jpg"
                            alt="Велика кімната з різними меблями, також за одним із столиків сидить жінка, яка працює за ноутбуком"
                        />
                    </picture>
                </li>-->
            </ul>
            <div class="features-hotel__swiper-button-list">
            <button class="features-hotel__button-prev" type="button">
                <svg class="features-hotel__button-prev-icon" aria-label="Стрілка слайдера назад" width="32px" height="32px">
                    <use href="./images/icons.svg#icon-arrow-left"></use>
                </svg>
            </button>
            <button class="features-hotel__button-next ">
                <svg class="features-hotel__button-next-icon" aria-label="Стрілка слайдера вперед" width="32px" height="32px">
                    <use href="./images/icons.svg#icon-arrow-right"></use>
                </svg>
            </button>
        </div>
            <!-- If we need pagination -->
            <!-- <div class="swiper-pagination"></div> -->

            <!-- If we need navigation buttons -->
            <!-- <div class="features-hotel__button-prev swiper-button-prev"></div>
            <div class="features-hotel__button-next swiper-button-next"></div>

            <!-- If we need scrollbar -->
            <!-- <div class="swiper-scrollbar"></div> -->
        </div>
        
         
    </div>
</section>