.rest-hero--bg {
        position: relative;
        padding: 181px 0 20px;
        margin: 0 auto;
        max-width: $desktop;
        min-height: 740px;
        background-image: linear-gradient(to bottom, $overlay-hero-color, $overlay-hero-color ), url("../images/restorant/restoran-hero-414px.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom, $overlay-hero-color, $overlay-hero-color ), url("../images/restorant/restoran-hero-414px@2x.jpg");
        }

    @media (min-width:$tablet) {
        min-height: 720px;
        padding: 188px 0 15px;
        background-image: linear-gradient(to bottom, $overlay-hero-color, $overlay-hero-color ), url("../images/restorant/restoran-hero-720px.jpg");

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom, $overlay-hero-color, $overlay-hero-color ), url("../images/restorant/restoran-hero-720px@2x.jpg");
        }
    }

    @media (min-width:$desktop) {
        padding: 164px 0 65px;
        background-image: linear-gradient(to bottom, $overlay-hero-color, $overlay-hero-color ), url("../images/restorant/restoran-hero-pc.jpg");

        @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(to bottom, $overlay-hero-color, $overlay-hero-color ), url("../images/restorant/restoran-hero-pc@2x.jpg");
            }
        }
}
