.room-page__description {
    padding-top: 32px;
    padding-bottom: 32px;
}

.room-page__title-1 {
    margin-bottom: 0px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 1.16;
    color: $secondary-color;
}

.room-page__title-2 {
    margin-top: 32px;
    margin-bottom: 0px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.16;
    color: $secondary-color;
}

.room-page__text-2 {
    margin-top: 16px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $main-text-color;
}

.room-page__arrow-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $second-text-color;
}