.hero-room {
    position: relative;
    padding-top: 484px;
    padding-bottom: 40px;
    background-image:
        url(../images/roompage/roompage-hero-mobile.jpg);


&__title {
    width: 325px;
    margin-bottom: 0px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 1.14;
    letter-spacing: 0.05em;
    color: $primary-color;
}

&__text-1 {
    width: 325px;
    margin-top: 14px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: $primary-color;
}

&__button {
    margin-top: 30px;
    margin-left: 92px;
}

&__forward_arrow {
    top: 350px;
    right: 15px;
}

&__back_arrow {
    top: 350px;
    left: 15px;
}

&__forward_arrow,
&__back_arrow {
    display: flex;
    border: 0;
    margin: 0;
    padding: 0;
    background-color: $overlay-hero-color;
    position: absolute;
    fill: $accent-color;

    &:hover,
    &:focus {
        @extend %arrow-hvr;
    }
}

&__svg {
    border: 0;
    margin: 0;
    padding: 0;
}


&__social-list {
    position: absolute;
    left: 16px;
    bottom: 17px;
    display: flex;
    flex-direction: column;
    gap: 11px;


    @media screen and (min-width: $desktop) {
        display: none;
    }
}

&__social-link {
    display: flex;
    color: $accent-color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

&__social-link {
    fill: $accent-color;
}

&__social-link:hover,
&__social-link:focus {
    fill: $primary-color;
}
}



