.hero-room {
    background-color:  $main-background-color;

    &__background {
        max-width: 1280px;
        padding-top: 484px;
        padding-bottom: 40px;
        margin-right: auto;
        margin-left: auto;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        background-image:
            url(../images/roompage/roompage-hero-mobile.jpg);

        @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
            background-image:
                url(../images/roompage/roompage-hero-mobile@2x.jpg);
        }

        @media screen and (min-width: $mobile) {
            background-image:
                url(../images/roompage/roompage-hero-tablet.jpg);

            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image:
                    url(../images/roompage/roompage-hero-tablet@2x.jpg);
            }
        }


        @media screen and (min-width: $tablet) {
            height: 718px;
            background-image:
                url(../images/roompage/roompage-hero-tablet.jpg);

            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image:
                    url(../images/roompage/roompage-hero-tablet@2x.jpg);
            }
        }



        @media screen and (min-width: $desktop) {
            max-height: 720px;
            max-width: 1280px;
            background-image:
                url(../images/roompage/roompage-hero-desktop.jpg);

            @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image:
                    url(../images/roompage/roompage-hero-desktop@2x.jpg);
            }
        }

    }

    &__gradient {
        position: absolute;
        top: 0px;
        height: 143px;
        width: 100%;
        max-width: 1280px;
        background-image: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0.55) 54.17%, rgba(0, 0, 0, 0) 100%);
    }

    &__container {
        position: relative;
    }

    &__adres-box {
        position: absolute;
        bottom: 541px;
        right: 15px;
        display: flex;
        padding: 8px 6px;
        max-height: 47px;
        max-width: 210px;
        height: 100%;
        width: 100%;
        border: 1px solid rgba(243, 198, 83, 0.7);
        border-radius: 2px;


        @media (min-width:$tablet) {
            position: absolute;
            padding: 10px 8px;
            max-width: 285px;
            max-height: 56px;
            left: 47px;
            top: 165px;

        }

        @media (min-width:$desktop) {
            position: absolute;
            padding: 10px 8px;
            max-width: 285px;
            max-height: 56px;
            left: 85px;
            top: 165px;
        }

    }

    &__adres-link {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        color: $address-text-color;
        font-size: 12px;
        gap: 8px;
        line-height: 1.25;
        letter-spacing: 0.01em;

        @media (min-width:$tablet) {
            font-size: 16px;
        }
    }

    &__adres-icon {
        fill: $accent-color;
        width: 20px;
        height: 20px;

        @media (min-width:$tablet) {
            width: 24px;
            height: 24px;
        }
    }

    &__title {
        margin-bottom: 0px;
        max-width: 325px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 28px;
        line-height: 1.14;
        letter-spacing: 0.05em;
        color: $primary-color;

        @media (min-width:$tablet) {
            font-size: 36px;
            ine-height: 1.15;
            max-width: 570px;
        }
    }

    &__text-1 {
        margin-top: 14px;
        margin-right: auto;
        max-width: 325px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $primary-color;

        @media (min-width:$tablet) {
            font-size: 16px;
            line-height: 1.22;
            max-width: 400px;
        }
    }

    &__button {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: 38px;

        @media (min-width:$tablet) {
            position: absolute;
            margin-top: 0px;
            margin-left: 0px;
            bottom: 62px;
            right: 47px;
            margin-right: 0px;
        }

        @media (min-width:$desktop) {
            position: absolute;
            bottom: 66px;
            right: 85px;
        }
    }

    &__forward_arrow,
    &__back_arrow {
        display: flex;
        border: 0;
        margin: 0;
        padding: 0;
        background-color: $overlay-hero-color;
        position: absolute;
        fill: $accent-color;

        &:hover,
        &:focus {
            fill: $primary-color;
        }
    }

    &__forward_arrow {
        top: -133px;
        right: 15px;

        @media (min-width:$tablet) {
            top: -128px;
            right: 47px;
        }

        @media (min-width:$desktop) {
            top: -112px;
            right: 85px;
        }
    }

    &__back_arrow {
        top: -128px;
        left: 15px;


        @media (min-width:$tablet) {
            top: -128px;
            left: 47px;
        }

        @media (min-width:$desktop) {
            top: -112px;
            left: 85px;
        }
    }

    &__svg {
        border: 0;
        margin: 0;
        padding: 0;
    }


    &__social-list {
        position: absolute;
        left: 15px;
        bottom: -23px;
        display: flex;
        flex-direction: column;
        gap: 11px;

        @media screen and (min-width: $tablet) {
            flex-direction: row;
            left: 373px;
            bottom: -65px;
        }

        @media screen and (min-width: $desktop) {
            display: none;
        }
    }

    &__social-link {
        display: flex;
        color: $accent-color;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__social-link {
        fill: $accent-color;
    }

    &__social-link:hover,
    &__social-link:focus {
        fill: $primary-color;
    }
}