.features-hotel {
    padding-top: 18px;
    padding-bottom: 20px;
    background: $main-background-color;
    @media screen and (min-width: $tablet) {
        padding-top: 0;
    }

    // @media screen and (min-width: $desktop) {
       
    // }

    &__list {
        margin-bottom: 28px;
        @media screen and (min-width: $tablet) {
            margin-bottom: 0;
        }
    }

    
    @media screen and (max-width: 1023px) {
        &__item:not(:last-child) {
            margin-bottom: 32px;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // width: 100%;
        
        @media screen and (min-width: $tablet) {
            
            flex-direction: row-reverse;
            gap: 46px;
            
        }
        @media screen and (min-width: $desktop) {
            align-items: flex-start;
            gap: 67px;
        }
    }

    &__item:nth-child(2n) {
        display: flex;
        flex-direction: row;
        align-items: center;

        gap: 21px;
        @media screen and (min-width: $tablet) {
            
            justify-content: flex-end;
            gap: 48px;
            margin-top: -24px;
        }
        @media screen and (min-width: $desktop) {
            align-items: flex-start;
            gap: 45px;
            margin-top: -48px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        
        margin-bottom: 28px;
        @media screen and (min-width: $tablet) {
            justify-content: center;
            margin-bottom: 0;
        }
        @media screen and (min-width: $desktop) {
            margin-top: 120px;
        }
        @media screen and (max-width: 1023px) {
            &--right {
                margin-left: 143px;
            }
        }
    }
    &__content--brown {
        @media screen and (min-width: $desktop) {
            margin-top: 169px;
        }
    }
    &__subject {
        font-family: 'Times New Roman';
        font-weight: 400;
        font-size: 20px;
        line-height: 1.15;
        text-align: right;

        margin-bottom: 6px;

        color: $title-text-color;
        @media screen and (min-width: $tablet) {
            font-size: 32px;
            line-height: 1.16;
            margin-bottom: 4px;
        }       
    }
    
    &__caption {
        
        font-family: 'Film P3';
        font-weight: 700;
        font-size: 40px;
        line-height: 1.08;
        letter-spacing: 0.3em;
        text-align: right;
        
        margin-right: -10px;
        margin-bottom: 16px;
        

        color: $logo-text-color;
        @media screen and (min-width: $tablet) {
            margin-right: -20px;
            font-size: 64px;
            line-height: 1.08;
            margin-bottom: 24px;
            
        }
    }

    &__text-box {
        max-width: 242px;
        max-height: 76px;
        @media screen and (min-width: 1024px) {
            max-width: 419px;
            max-height: 80px;
        }
        @media screen and (min-width: $desktop) {
            max-width: 488px;
            max-height: 88px;
        }
        
    }

    &__text {
        font-family: 'Montserrat';
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        width: 100%;

        color: $main-text-color;

        @media screen and (min-width: $tablet) {
            font-size: 16px;
            line-height: 1.25;
        }
    }
        &__text-box--brown {
            max-width: 163px;
            max-height: 120px;

            @media screen and (min-width: 1024px) {
                max-width: 312px;
                max-height: 122px;
            }
        }

    &__text--brown {
        color: $second-text-color;
        width: 100%;
        
    }

    
        // @media screen and (min-width: $tablet) {
            
        //     // &__card {
        //     //     z-index: 100;
               
        //     //     // position: absolute;
        //     //     // bottom: -461px;
        //     //     // left: 112px;
        //     // }
        // }
    &__card--first {
        margin-right: 140px;
        @media screen and (min-width: $tablet) {
            margin-left: 65px;
            margin-top: -24px;
            z-index: 100;
            margin-right: 0;
                // position: absolute;
                // bottom: -461px;
                // left: 112px;
        }
    }
    &__img {

        background-color: #DADADA;
        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;
    }
    &__swiper-box {
        justify-content: center;
        width: 515px;
        overflow: hidden;
        @media screen and (min-width: $tablet) {
            width: 428px;
            margin-top: -24px;
            margin-right: 0;
            // flex-direction: row-reverse;
  
        }
        @media screen and (min-width: $desktop) {
            margin-top: -179px;
            width: 548px;
        }
    }

    // &__wripper {
    //     // display: flex;
    //     // position: relative;
    //     // justify-content: center;
    //     // right: 132px;

    //     // gap: 20px;
    //     margin-bottom: 20px;
    //     @media screen and (min-width: $tablet) {
    //         // right: 0;
    //         // gap: 40px;
    //         margin-bottom: 32px;
    //     }
    //     @media screen and (min-width: $desktop) {
    //         margin-bottom: 40px;
    //         // gap: 40px;
    //     }
    // }

    // &__swiper {
    //     width: 245px;
    //     margin: 0;

    //     // display: flex;
    //     // margin-bottom: 20px;
    //     // text-align: right;
    //     // justify-content: center;
    //     // gap: 20px;
    // }

   

    // &__swiper-img {
    //     background: #DADADA;
    //     box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    //     border-radius: 2px;
    //     width: 100%;
        
    // }

    // &__button-prev {
    //     width: 32px;
    //     height: 32px;
    //     padding: 0;
    //     // margin-right: 32px;
    // }

    // &__button-next {
    //     width: 32px;
    //     height: 32px;
    //     padding: 0;
    // }

    &__swiper-button-list {
        display: flex;
        gap: 33px;
        justify-content: flex-start;
        margin-top: 20px;
        @media screen and (min-width: $tablet) {
            margin-top: 32px;
    
        }
        @media screen and (min-width: $desktop) {
            margin-top: 40px;
        }

    }
    &__button-next,
    &__button-prev {
        cursor: pointer;
        fill: #000000;
        border: none;
        background-color: inherit;
    
        &:hover,
        &:focus {
            @extend %arrow-hvr;
        }
    }
    // &__button-next-icon,
    // &__button-prev-icon {
        

    // }
}
