.hotel-details {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
    url('../images/homepage/bg-iphone.jpg');
  width: 100%;
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;

  @include retina2x {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../images/homepage/bg-iphone-2x.jpg');
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: 414px) and (max-width: 1024px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../images/homepage/bg-iphone.jpg');
    @include retina2x {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../images/homepage/bg-iphone-2x.jpg');
    }
  }

  @media screen and (min-width: 1024px) and (max-width: 1280px) {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../images/homepage/bg-ipad.jpg');
    @include retina2x {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../images/homepage/bg-ipad-2x.jpg');
    }
  }
  @include desktop {
    background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)),
      url('../images/homepage/bg-des.jpg');
    max-width: 1280px;
    margin: 0 auto;
    @include retina2x {
      background-image: linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.65)
        ),
        url('../images/homepage/bg-des-2x.jpg');
    }
  }
}

.hotel-details__container {
  padding-top: 24px;

  @media screen and (min-width: 1024px) {
    width: 620px;
  }
  padding-top: 24px;
  padding-bottom: 40px;
  justify-content: end;
}

.hotel-details__title {
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 20px;
  margin-left: 40px;
  font-family: Montserrat, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  display: flex;
  justify-content: space-around;
  @media screen and (min-width: 1024px) {
    margin-left: 530px;
  }
}

.hotel-details__description {
  text-align: left;
  letter-spacing: 0.02em;
  color: #bababa;
  max-width: 243px;
  margin-bottom: 48px;
  margin-left: 31px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.25;
}

.hotel-details__info {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.hotel-details__logo {
  letter-spacing: 0.3em;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 12px;
  font-family: Film P3, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.075;
  display: flex;
  @media screen and (min-width: 1024px) {
    display: flex;
    width: 620px;
    text-align: end;
  }
}

.hotel-details {
  color: #ffffff;
  font-family: 'Film P3';
  text-decoration: none;
  text-align: end;
  @media screen and (max-width: 1024px) {
    text-align: center;
  }
}

.btn-open-book {
  cursor: pointer;
  letter-spacing: 0.02em;
  color: #f3c653;
  width: 236px;
  min-height: 48px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.4);
  border: 2px solid #fff;
  border-radius: 25px;
  align-items: center;
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  transition: background-color 0.25s cubic-bezier(0.4, 0, 0.2, 1);

  border-radius: 25px;
  justify-content: center;
  align-items: center;
  padding: 14px;
}

.hotel-details__buttons {
  display: flex;
  gap: 16px;
  flex-direction: column;
  @media screen and (max-width: 1023px) {
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .slider-wrapper {
    display: flex;
    flex-direction: row;
  }
  @media screen and (min-width: 1024px) {
    max-width: 236px;
    z-index: 10;
    flex-direction: column;
    display: flex;
    position: absolute;
    bottom: 40px;
    right: 89px;
    margin-right: 90px;
  }
}

.hotel_details__slider-wrapper .slick-track {
  border-radius: 2px;
  gap: 20px;
  margin-left: -100px;
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  gap: 20px;
  position: relative;
}

.hotel-details__wrapper {
  display: flex;
}

.menu-open-icon {
  display: flex;
  text-align: end;
}
