<footer class="footer">
  <div class="container">
    <div class="footer__container">
      <a lang="en" href="./index.html" class="footer__logo-link">mimiho</a>
      <div class="footer__thumb">
        <nav class="footer__menu">
          <ul class="footer__menu-list ul">
            <li class="footer__menu-link">
              <a href="./index.html" class="footer__menu-link">Головна</a>
            </li>
            <li class="footer__menu-link">
              <a href="./restaurant.html" class="footer__menu-link">Ресторан</a>
            </li>
            <li class="footer__menu-link">
              <a href="./hotel.html" class="footer__menu-link">Готель</a>
            </li>
          </ul>
        </nav>
        <ul class="footer__social ul">
          <li class="footer__social-item">
            <a
              href="https://www.edu.goit.global/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="footer__social-link"
            >
              <p class="footer__social-text">Instagram</p>
              <svg width="24" height="24" class="footer__social-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://www.edu.goit.global/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="footer__social-link"
            >
              <p class="footer__social-text">Facebook</p>
              <svg width="24" height="24" class="footer__social-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="footer__social-item">
            <a
              href="https://www.edu.goit.global/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="footer__social-link"
            >
              <p class="footer__social-text">Telegram</p>
              <svg width="24" height="24" class="footer__social-icon">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
