<header class="header">
  <div class="container">
    <div class="header__container">
      <nav class="header__nav">
        <a lang="en" href="./index.html" class="header__logo-link">mimiho</a>
        <ul class="header__menu ul">
          <li class="header__menu-item">
            <a href="./restaurant.html" class="header__menu-link">Ресторан</a>
            <a class="header__phone-link" href="tel:+038955559533">
              <svg width="24" height="24" class="header__menu-icon">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <p class="header__menu-phone menu__phone">095 555 95 33</p>
            </a>
          </li>
          <li class="header__menu-item">
            <a href="./hotel.html" class="header__menu-link">Готель</a>
            <a
              class="header__phone-link menu__phone-link"
              href="tel:+038955559533"
            >
              <svg width="24" height="24" class="header__menu-icon">
                <use href="./images/icons.svg#icon-phone"></use>
              </svg>
              <p class="header__menu-phone">066 849 10 89</p>
            </a>
          </li>
        </ul>
      </nav>
      <ul class="header__social social ul">
        <li class="header__social-item social__item">
          <a
            href="https://www.edu.goit.global/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="address__link address__link--color"
          >
            <svg width="24" height="24" class="header__social-icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a
            href="https://www.edu.goit.global/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="address__link address__link--color"
          >
            <svg width="24" height="24" class="header__social-icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="header__social-item">
          <a
            href="https://www.edu.goit.global/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="address__link address__link--color"
          >
            <svg width="24" height="24" class="header__social-icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
  </div>
</header>
