<header class="header">
  <div class="container">
    <div class="header__container">
      <nav class="header__nav">
        <a href="./index.html" class="header__logo-link">міміно</a>
        <ul class="header__menu menu ul">
          <li class="header__menu-item menu__item">
            <a href="./restaurant.html" class="header__menu-link menu__link"
              >Ресторан</a
            >
            <div class="header__thumb menu__thumb">
              <a href="tel:+038955559533">
                <svg
                  width="24"
                  height="24"
                  class="header__menu-icon menu__icon"
                >
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <p class="header__menu-phone menu__phone">095 555 95 33</p>
              </a>
            </div>
          </li>
          <li class="header__menu-item">
            <a href="./hotel.html" class="header__menu-link menu__link"
              >Готель</a
            >
            <div class="header__thumb menu__thumb">
              <a href="tel:+038955559533">
                <svg
                  width="24"
                  height="24"
                  class="header__menu-icon menu__icon"
                >
                  <use href="./images/icons.svg#icon-phone"></use>
                </svg>
                <p class="header__menu-phone menu__phone">066 849 10 89</p>
              </a>
            </div>
          </li>
        </ul>
      </nav>
      <ul class="header__social social ul">
        <li class="header__social-item social__item">
          <svg width="24" height="24" class="header__social-icon social__icon">
            <use href="./images/icons.svg#icon-instagram"></use>
          </svg>
        </li>
        <li class="header__social-item social__item">
          <svg width="24" height="24" class="header__social-icon social__icon">
            <use href="./images/icons.svg#icon-facebook"></use>
          </svg>
        </li>
        <li class="header__social-item social__item">
          <svg width="24" height="24" class="header__social-icon social__icon">
            <use href="./images/icons.svg#icon-telegram"></use>
          </svg>
        </li>
      </ul>
    </div>
  </div>
</header>
