<div class="backdrop is-hidden" data-modal-table>
  <div class="modal modal__table">
    <button class="button-close" type="button" data-modal-close-table>
      <svg class="button-close__icon" width="22" height="22">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal__title">ЗАБРОНЮВАТИ СТОЛИК</h3>
    <form name="book-table-form" class="modal__form">
      <div class="box-box-box">
        <div class="box-form-table">
          <div class="modal__form-field">
            <div class="modal__form-field__input__margin">
              <input
                class="modal__form-field__input"
                placeholder="Ваше ім’я"
                id="user-name1"
                type="text"
                title="Поле повинно містити ім'я."
                pattern="[Є-Яа-ї]+"
                required
              />
            </div>
            <label class="modal__form-field__label" for="user-name1"
              >На кого забронювати столик?</label
            >
          </div>

          <div class="modal__form-field">
            <div class="modal__form-field__input__margin">
              <input
                class="modal__form-field__input js-inputmask"
                id="user-phone1"
                type="tel"
                title="Поле повинно містити телефон (+380)."
              />
            </div>
            <label class="modal__form-field__label" for="user-phone1"
              >Номер телефону</label
            >
          </div>
        </div>

        <div class="box-form-table__last">
          <div class="modal__form-field">
            <div class="modal__form-field__select">
              <select
                class="modal__form-field__input"
                name="amount-people"
                id="amount-people"
              >
                <option value="1">1</option>
                <option value="2" selected>2</option>
                <option value="3">3</option>
                <option value="4">4</option>
              </select>
              <svg
                class="modal__form-field__select__icon"
                width="24"
                height="24"
              >
                <use href="./images/icons.svg#icon-arrow-down"></use>
              </svg>
            </div>
            <label class="modal__form-field__label" for="amount-people"
              >Столик на яку кількість осіб?</label
            >
          </div>

          <div class="modal__form-field__last">
            <div class="modal__form-field__select">
              <input
              class="modal__form-field__input"
              type="date" name="Date" id="davaToday"
            >
            </div>
            <label class="modal__form-field__label" for="davaToday"
              >На яку дату бронювати?</label
            >
          </div>
        </div>
      </div>
      <button class="modal-btn" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>

<div class="backdrop is-hidden" data-modal-room>
  <div class="modal modal__room">
    <button class="button-close" type="button" data-modal-close-room>
      <svg class="button-close__icon" width="22" height="22">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal__title">ЗАБРОНЮВАТИ НОМЕР</h3>
    <form name="book-table-form" class="modal__form">
      <div class="box-form-room">
        <div class="modal__form-field">
          <div class="modal__form-field__input__margin">
            <input
              class="modal__form-field__input"
              placeholder="Ваше ім’я"
              id="user-name2"
              type="text"
              title="Поле повинно містити ім'я."
              pattern="[Є-Яа-ї]+"
              required
            />
          </div>
          <label class="modal__form-field__label" for="user-name2"
            >На кого забронювати номер?</label
          >
        </div>

        <div class="modal__form-field">
          <div class="modal__form-field__input__margin">
            <input
              class="modal__form-field__input js-inputmask"
              id="user-phone2"
              type="tel"
              title="Поле повинно містити телефон (+380)."
            />
          </div>
          <label class="modal__form-field__label" for="user-phone2"
            >Номер телефону</label
          >
        </div>
      </div>

      <div class="box-form-room">
        <div class="modal__form-field">
          <div class="modal__form-field__select">
            <select
              class="modal__form-field__input"
              name="room-book-name"
              id="room-book-name"
            >
              <option value="Двомісний люкс" selected>Двомісний люкс</option>
              <option value="Трьохмісний Люкс">Трьохмісний Люкс</option>
            </select>
            <svg class="modal__form-field__select__icon" width="24" height="24">
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
          <label class="modal__form-field__label" for="room-book-name"
            >Категорія номеру</label
          >
        </div>
      </div>

      <div class="box-form-room__last">
        <div class="modal__form-field">
          <div class="modal__form-field__select">
            <input
              class="modal__form-field__input"
              type="date" name="Date" id="davaToday"
            >
          </div>
          <label class="modal__form-field__label" for="davaToday"
            >Дата заїзду</label
          >
        </div>

        <div class="modal__form-field__last">
          <div class="modal__form-field__select">
            <input
              class="modal__form-field__input"
              type="date" name="Date" id="davaToday"
            >
          </div>
          <label class="modal__form-field__label" for="davaToday"
            >Дата виїзду</label
          >
        </div>
      </div>
      <button class="modal-btn" type="submit">ОФОРМИТИ БРОНЮВАННЯ</button>
    </form>
  </div>
</div>

<div class="backdrop is-hidden" data-modal-price>
  <div class="modal modal__price">
    <button class="button-close" type="button" data-modal-close-price>
      <svg class="button-close__icon" width="22" height="22">
        <use href="./images/icons.svg#icon-close"></use>
      </svg>
    </button>
    <h3 class="modal__title">ЦІНИ НА НОМЕР</h3>
    <h4 class="modal__room-name">Двомісний люкс</h4>
    <p class="modal__room-category">Категорія номеру</p>
    <form name="book-table-form" class="modal__form">
      <div class="box-form-price">
        <div class="modal__form-field">
          <div class="modal__form-field__select">
            <select
              class="modal__form-field__input"
              name="amount-nights"
              id="amount-nights"
            >
              <option value="1" selected>1</option>
              <option value="2">2</option>
              <option value="2">3</option>
              <option value="2">4</option>
            </select>
            <svg
              class="modal__form-field__select__icon__price"
              width="24"
              height="24"
            >
              <use href="./images/icons.svg#icon-arrow-down"></use>
            </svg>
          </div>
          <label class="modal__form-field__label" for="amount-nights"
            >Кількість ночей</label
          >
        </div>

        <div class="modal__form-field__last">
          <div class="modal__form-field__input__margin">
            <input
              class="modal__form-field__input"
              placeholder="1000"
              id="price"
              type="number"
            />
          </div>
          <label class="modal__form-field__label" for="price">грн</label>
        </div>
      </div>

      <button class="modal-btn" type="submit">ЗАБРОНЮВАТИ НОМЕР</button>
    </form>
  </div>
</div>
