
.button-transparent {

    padding: 14px 24px;
    text-align: center;

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.02em;

    background-color: $button-background-color;
    color: $accent-color;
    border: 2px solid $primary-color;
    border-radius: 25px;

    transition-property: background-color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    

    @media screen and (min-width: $desktop) {
        padding: 14px 35px;
    }

    &:hover,
    &:focus {
        @extend %btn-hvr;
  } 
}

.button {

padding-top: 14px;
padding-bottom: 14px;
text-align: center;
width: 236px;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.25;
letter-spacing: 0.02em;

background-color: $secondary-color;
color: $accent-color;
border: 2px solid $primary-color;
border-radius: 25px;

transition-property: background-color, border;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


@media screen and (min-width: $desktop) {
    padding: 14px 35px;
}

&:hover,
&:focus {
    @extend %btn-hvr;
} 

}

.btn-book {

padding: 20px 43px;
text-align: center;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;

background-color: $secondary-color;
color: $primary-color;
border: 1px solid $accent-color;
border-radius: 25px;

transition-property: background-color, color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


@media screen and (min-width: $tablet) {
    padding: 18px 38px;
    font-size: 24px;
    line-height: 1.208;
}

&:hover,
&:focus {
    @extend %book-hvr;
} 
}

.modal-btn {

display: block;
margin: 0 auto;

padding: 20px 43px;
text-align: center;

font-family: 'Montserrat', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 1.2;

background-color: $secondary-color;
color: $primary-color;
border: 1px solid $accent-color;
border-radius: 2px;

transition-property: background-color, color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


@media screen and (min-width: $tablet) {
    padding: 18px 117px;
    font-size: 24px;
    line-height: 1.208;
}

&:hover,
&:focus {
    @extend %book-hvr;
} 

}