.header {
    max-width: 1280px;
    margin-left: auto;
    margin-right: auto;
    background-color: $overlay-hero-color;
    z-index: 999;
    overflow: auto;

    &__container {
        display: flex;
        align-items: center;
    }

    &__nav {
        display: flex;
        align-items: center;

        
    }

    &__logo-link {
        display: block;
        padding-top: 16px;
        padding-bottom: 9px;

        font-family: 'Film P3', sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.0833;
        letter-spacing: 0.3em;

        @media screen and (min-width: 1024px) {
            padding-top: 24px;
            padding-bottom: 33px;
            font-size: 40px;
            line-height: 1.075;
        }

        color: $primary-color;

    }

    &__menu {

        @media screen and (min-width: 346px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        @media screen and (min-width: 414px) {
            // было 52, ставлю 42  
            margin-left: 42px;
            gap: 20px;

        }

        // было 207, ставлю 196               
        @media screen and (min-width: 1024px) {
            margin-left: 196px;
            gap: 72px;
        }

        // было 135, ставлю 124
        @media screen and (min-width: 1280px) {
            margin: 0 140px 0 124px;
        }
    }

    &__menu-item {
        display: flex;
        align-items: center;

        gap: 6px;

        @media screen and (min-width: 1024px) {
            gap: 32px;
        }


    }

    &__menu-link {
        padding: 28px 0 16px 0;

        font-weight: 500;
        font-size: 16px;
        line-height: 1.25;
        letter-spacing: 0.02em;

        @media screen and (min-width: 1024px) {
            padding: 38px 0 38px 0;
            font-size: 20px;
            line-height: 1.2;
        }

        // @media screen and (min-width: 1280px) {
        //     padding: 36px 0 40px 0;

        // }
        color: $accent-color;
        text-decoration: none;
    }


    &__menu-link:hover,
    &__menu-link:focus {
        color: $primary-color;
    }


    &__phone-link {
        display: flex;
        align-items: center;
        gap: 4px;
        width: 100%;

        @media screen and (min-width: 1024px) {
            outline: $accent-color solid 1px;
            padding: 12px 8px;
        }

    }

    &__menu-icon {
        fill: $accent-color;

        margin: 28px 0 12px 0;

        @media screen and (min-width: 1024px) {
            margin: 0;
        }
    }


    &__menu-phone {
        display: none;

        @media screen and (min-width: 1024px) {
            display: block;
            color: $primary-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 1.2143;
            letter-spacing: 0.02em;
        }

    }

    &__social {
        display: none;

        @media screen and (min-width: 1280px) {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }

    &__social-icon {
        fill: $accent-color;
    }
}

