<section class="roomForThree">

    <ul class="room-list">
        <li class="room-list__item">
            <div class="container">
                <div class="wrapper">
                    <div class="room-list__text">
                        <p class="section-subtitle">Amet minim mollit non</p>
                        <div class="logo">MIMIHO</div>
                        <h2 class="section-title">Двомісний номер <span class="lower">люкс</span></h2>
                        <p class="section-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                            amet.
                        </p>
                    </div>
                    <div class="room-list__image">
                        <!-- <picture>
                            <source srcset="./images/olha-mobile.jpg 1x, ./images/olha-mobile@2x.jpg 2x" media="(max-width: 767px)">
                            <source srcset="./images/olha-tablet.jpg 1x, ./images/olha-tablet@2x.jpg 2x" media="(max-width: 1199px)">
                            <source srcset="./images/olha-desktop.jpg 1x, ./images/olha-desktop@2x.jpg 2x" media="(min-width: 1200px)">
                            <img class="employees-cards__image" src="./images/igor-mobile.jpg" alt="Ольга Рєпіна">
                        </picture> -->
                        <img class=""
                            src="../src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space 2.jpg"
                            alt="Трьохмісний номер">
                    </div>
                </div>

                <div class="wrapper">
                    <div class="room-list__slider">
                        <ul class="room-list__item-slider">
                            <li>
                                <div class="room-list__item-image">
                                    <img src="../src/images/hotel-page/arrangement-pf-bathroom-elements-self-care 1.jpg"
                                        alt="">
                                </div>

                            </li>
                            <li>
                                <div class="room-list__item-image">
                                    <img src="../src/images/hotel-page/cup-tea-stands-wooden-windowsill 1.jpg" alt="">
                                </div>

                            </li>
                        </ul>
                        <div class="room-list__button-slider">
                            <button class="room-list__button-prev">
                                <svg class="room-list__button-prev_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-left-32"></use>
                                </svg>
                            </button>
                            <button class="room-list__button-next">
                                <svg class="room-list__button-next_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-right-32"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="room-list__button-more">
                        <a class="room-list__button-detail button" href="#">Детальніше</a>
                        <button class="room-list__button-prices button">Переглянути ціни</button>
                    </div>
                </div>

            </div>
        </li>
        <li class="room-list__item">
            <div class="container">
                <div class="wrapper">
                    <div class="room-list__text">
                        <p class="section-subtitle">Amet minim mollit non</p>
                        <div class="logo">MIMIHO</div>
                        <h2 class="section-title">Трьохмісний номер</h2>
                        <p class="section-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                            amet.
                        </p>
                    </div>
                    <div class="room-list__image">
                        <!-- <picture>
                        <source srcset="./images/olha-mobile.jpg 1x, ./images/olha-mobile@2x.jpg 2x" media="(max-width: 767px)">
                        <source srcset="./images/olha-tablet.jpg 1x, ./images/olha-tablet@2x.jpg 2x" media="(max-width: 1199px)">
                        <source srcset="./images/olha-desktop.jpg 1x, ./images/olha-desktop@2x.jpg 2x" media="(min-width: 1200px)">
                        <img class="employees-cards__image" src="./images/igor-mobile.jpg" alt="Ольга Рєпіна">
                    </picture> -->
                        <img class=""
                            src="../src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space 2.jpg"
                            alt="Трьохмісний номер">
                    </div>
                </div>

                <div class="wrapper">
                    <div class="room-list__slider">
                        <ul class="room-list__item-slider">
                            <li>
                                <div class="room-list__item-image">
                                    <img src="../src/images/hotel-page/arrangement-pf-bathroom-elements-self-care 1.jpg"
                                        alt="">
                                </div>

                            </li>
                            <li>
                                <div class="room-list__item-image">
                                    <img src="../src/images/hotel-page/cup-tea-stands-wooden-windowsill 1.jpg" alt="">
                                </div>

                            </li>
                        </ul>

                        <div class="room-list__button-slider">
                            <button class="room-list__button-prev">
                                <svg class="room-list__button-prev_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-left-32"></use>
                                </svg>
                            </button>
                            <button class="room-list__button-next">
                                <svg class="room-list__button-next_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-right-32"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="room-list__button-more">
                        <a class="room-list__button-detail button" href="#">Детальніше</a>
                        <button class="room-list__button-prices button">Переглянути ціни</button>
                    </div>
                </div>

            </div>
        </li>
        <li class="room-list__item">
            <div class="container">
                <div class="wrapper">
                    <div class="room-list__text">
                        <p class="section-subtitle">Amet minim mollit non</p>
                        <div class="logo">MIMIHO</div>
                        <h2 class="section-title">Двомісний номер</h2>
                        <p class="section-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                            amet.
                        </p>
                    </div>
                    <div class="room-list__image">
                        <img class=""
                            src="../src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space 2.jpg"
                            alt="Двомісний номер">
                    </div>
                </div>

                <div class="wrapper">
                    <div class="room-list__slider">
                        <ul class="room-list__item-slider">
                            <li>
                                <div class="room-list__item-image">
                                    <img src="../src/images/hotel-page/arrangement-pf-bathroom-elements-self-care 1.jpg"
                                        alt="">
                                </div>

                            </li>
                            <li>
                                <div class="room-list__item-image">
                                    <img src="../src/images/hotel-page/cup-tea-stands-wooden-windowsill 1.jpg" alt="">
                                </div>

                            </li>
                        </ul>

                        <div class="room-list__button-slider">
                            <button class="room-list__button-prev ">
                                <svg class="room-list__button-prev_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-left-32"></use>
                                </svg>
                            </button>
                            <button class="room-list__button-next ">
                                <svg class="room-list__button-next_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-right-32"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="room-list__button-more">
                        <a class="room-list__button-detail button" href="#">Детальніше</a>
                        <button class="room-list__button-prices button">Переглянути ціни</button>
                    </div>
                </div>

            </div>
        </li>
    </ul>

</section>