<section class="roomForThree">
    <p>Amet minim mollit non</p>
    <div class="logo"></div>
    <h2>Трьохмісний номер</h2>
    <p>Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
    <img src="#" alt="">
    <div class="slider">
        <img src="#" alt="">
        <button>pervition</button>
        <button>next</button>
    </div>
    <a href="#">Детальніше</a>
    <button>Переглянути ціни</button>
    <h1>hello</h1>
</section>