<section class="hotel-page">

    <ul class="room-list">
        <li class="room-list__item">
            <div class="container">
                <div class="wrapper">
                    <div class="room-list__text">
                        <p class="section-subtitle">Amet minim mollit non</p>
                        <div class="logo">MIMIHO</div>
                        <h2 class="section-title">Двомісний номер <span class="lower">люкс</span></h2>
                        <p class="section-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                            amet.
                        </p>
                    </div>
                    <div class="room-list__image">
                        <picture>
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                media="(min-width: 1024px) and (max-width: 1279px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <img class=""
                                src="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg"
                                alt="Двомісний номер люкс">
                        </picture>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="room-list__slider">
                        <ul class="room-list__item-slider">
                            <li>
                                <div class="room-list__item-image">
                                    <picture>
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                            media="(max-width: 1023px)">
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                            media="(min-width: 1024px) and (max-width: 1279px)">
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-desktop.jpg 1x, /src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-desktop@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                        <img class=""
                                            src="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg"
                                            alt="Умивальник">
                                    </picture>
                                    <!-- <img src="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg"
                                        alt="Двомісний номер люкс"> -->
                                </div>

                            </li>
                            <li>
                                <div class="room-list__item-image">
                                    <picture>
                                        <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile@2x.jpg 2x"
                                            media="(max-width: 1023px)">
                                        <!-- <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-tablet.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-tablet@2x.jpg 2x"
                                            media="(min-width: 1024px) and (max-width: 1279px)"> -->
                                        <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-desktop.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-desktop@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                        <img class=""
                                            src="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg"
                                            alt="Горня чаю">
                                    </picture>
                                    <!-- <img src="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg"
                                        alt="Двомісний номер люкс"> -->
                                </div>

                            </li>
                        </ul>
                        <div class="room-list__button-slider">
                            <button class="room-list__button-prev">
                                <svg class="room-list__button-prev_icon" aria-label="">
                                    <use class="arrow-swiper" href="./images/icons.svg#icon-arrow-left-32"></use>
                                </svg>
                            </button>
                            <button class="room-list__button-next">
                                <svg class="room-list__button-next_icon" aria-label="">
                                    <use class="arrow-swiper" href="./images/icons.svg#icon-arrow-right-32"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="room-list__button-more">
                        <a class="room-list__button-detail button" href="/src/room.html">Детальніше</a>
                        <button class="room-list__button-prices button popup" data-popup-btn>Переглянути
                            ціни</button>
                    </div>
                </div>

            </div>
        </li>
        <li class="room-list__item">
            <div class="container">
                <div class="wrapper">
                    <div class="room-list__text">
                        <p class="section-subtitle">Amet minim mollit non</p>
                        <div class="logo">MIMIHO</div>
                        <h2 class="section-title">Двомісний номер <span class="lower">люкс</span></h2>
                        <p class="section-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                            amet.
                        </p>
                    </div>
                    <div class="room-list__image">
                        <picture>
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                media="(min-width: 1024px) and (max-width: 1279px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <img class=""
                                src="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg"
                                alt="Двомісний номер люкс">
                        </picture>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="room-list__slider">
                        <ul class="room-list__item-slider">
                            <li>
                                <div class="room-list__item-image">
                                    <picture>
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                            media="(max-width: 1023px)">
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                            media="(min-width: 1024px) and (max-width: 1279px)">
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-desktop.jpg 1x, /src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-desktop@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                        <img class=""
                                            src="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg"
                                            alt="Умивальник">
                                    </picture>
                                    <!-- <img src="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg"
                                        alt="Двомісний номер люкс"> -->
                                </div>

                            </li>
                            <li>
                                <div class="room-list__item-image">
                                    <picture>
                                        <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile@2x.jpg 2x"
                                            media="(max-width: 1023px)">
                                        <!-- <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-tablet.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-tablet@2x.jpg 2x"
                                            media="(min-width: 1024px) and (max-width: 1279px)"> -->
                                        <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-desktop.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-desktop@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                        <img class=""
                                            src="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg"
                                            alt="Горня чаю">
                                    </picture>
                                    <!-- <img src="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg"
                                        alt="Двомісний номер люкс"> -->
                                </div>

                            </li>
                        </ul>
                        <div class="room-list__button-slider">
                            <button class="room-list__button-prev">
                                <svg class="room-list__button-prev_icon" aria-label="">
                                    <use class="arrow-swiper" href="./images/icons.svg#icon-arrow-left-32"></use>
                                </svg>
                            </button>
                            <button class="room-list__button-next">
                                <svg class="room-list__button-next_icon" aria-label="">
                                    <use class="arrow-swiper" href="./images/icons.svg#icon-arrow-right-32"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="room-list__button-more">
                        <a class="room-list__button-detail button" href="/src/room.html">Детальніше</a>
                        <button class="room-list__button-prices button">Переглянути ціни</button>
                    </div>
                </div>

            </div>
        </li>
        <li class="room-list__item">
            <div class="container">
                <div class="wrapper">
                    <div class="room-list__text">
                        <p class="section-subtitle">Amet minim mollit non</p>
                        <div class="logo">MIMIHO</div>
                        <h2 class="section-title">Двомісний номер <span class="lower">люкс</span></h2>
                        <p class="section-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                            amet.
                        </p>
                    </div>
                    <div class="room-list__image">
                        <picture>
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                media="(min-width: 1024px) and (max-width: 1279px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <img class=""
                                src="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg"
                                alt="Двомісний номер люкс">
                        </picture>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="room-list__slider">
                        <ul class="room-list__item-slider">
                            <li>
                                <div class="room-list__item-image">
                                    <picture>
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                            media="(max-width: 1023px)">
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                            media="(min-width: 1024px) and (max-width: 1279px)">
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-desktop.jpg 1x, /src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-desktop@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                        <img class=""
                                            src="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg"
                                            alt="Умивальник">
                                    </picture>
                                    <!-- <img src="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg"
                                        alt="Двомісний номер люкс"> -->
                                </div>

                            </li>
                            <li>
                                <div class="room-list__item-image">
                                    <picture>
                                        <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile@2x.jpg 2x"
                                            media="(max-width: 1023px)">
                                        <!-- <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-tablet.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-tablet@2x.jpg 2x"
                                            media="(min-width: 1024px) and (max-width: 1279px)"> -->
                                        <source
                                            srcset="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-desktop.jpg 1x, /src/images/hotel-page/cup-tea-stands-wooden-windowsill-desktop@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                        <img class=""
                                            src="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg"
                                            alt="Горня чаю">
                                    </picture>
                                    <!-- <img src="/src/images/hotel-page/cup-tea-stands-wooden-windowsill-mobile.jpg"
                                        alt="Двомісний номер люкс"> -->
                                </div>

                            </li>
                        </ul>
                        <div class="room-list__button-slider">
                            <button class="room-list__button-prev">
                                <svg class="room-list__button-prev_icon" aria-label="">
                                    <use class="arrow-swiper" href="./images/icons.svg#icon-arrow-left-32"></use>
                                </svg>
                            </button>
                            <button class="room-list__button-next">
                                <svg class="room-list__button-next_icon" aria-label="">
                                    <use class="arrow-swiper" href="./images/icons.svg#icon-arrow-right-32"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="room-list__button-more">
                        <a class="room-list__button-detail button" href="/src/room.html">Детальніше</a>
                        <button class="room-list__button-prices button">Переглянути ціни</button>
                    </div>
                </div>

            </div>
        </li>
        <!-- <li class="room-list__item">
            <div class="container">
                <div class="wrapper">
                    <div class="room-list__text">
                        <p class="section-subtitle">Amet minim mollit non</p>
                        <div class="logo">MIMIHO</div>
                        <h2 class="section-title">Трьохмісний номер</h2>
                        <p class="section-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
                            sint.
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                            amet.
                        </p>
                    </div>
                    <div class="room-list__image">
                        <picture>
                            <source
                                srcset="./scr/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg 1x, ./src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                media="(min-width: 1024px) and (max-width: 1279px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <img class=""
                                src="./src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg"
                                alt="Двомісний номер люкс">
                        </picture>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="room-list__slider">
                        <ul class="room-list__item-slider">
                            <li>
                                <div class="room-list__item-image">
                                    <picture>
                                        <source
                                            srcset="./src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg 1x, ./arc/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile@2x.jpg 2x"
                                            media="(max-width: 1023px)">
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-tablet.jpg 1x, /src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-tablet@2x.jpg 2x"
                                            media="(min-width: 1024px) and (max-width: 1279px)">
                                        <source
                                            srcset="/src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-desktop.jpg.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                        <img class=""
                                            src="./src/images/hotel-page/arrangement-pf-bathroom-elements-self-care-mobile.jpg.jpg"
                                            alt="Двомісний номер люкс">
                                    </picture>
                                </div>

                            </li>
                            <li>
                                <div class="room-list__item-image">
                                </div>

                            </li>
                        </ul>

                        <div class="room-list__button-slider">
                            <button class="room-list__button-prev">
                                <svg class="room-list__button-prev_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-left-32"></use>
                                </svg>
                            </button>
                            <button class="room-list__button-next">
                                <svg class="room-list__button-next_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-right-32"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="room-list__button-more">
                        <a class="room-list__button-detail button" href="#">Детальніше</a>
                        <button class="room-list__button-prices button">Переглянути ціни</button>
                    </div>
                </div>

            </div>
        </li> -->
        <!-- <li class="room-list__item">
            <div class="container">
                <div class="wrapper">
                    <div class="room-list__text">
                        <p class="section-subtitle">Amet minim mollit non</p>
                        <div class="logo">MIMIHO</div>
                        <h2 class="section-title">Двомісний номер</h2>
                        <p class="section-description">
                            Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.
                            Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud
                            amet.
                        </p>
                    </div>
                    <div class="room-list__image">
                        <picture>
                            <source
                                srcset="./images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg 1x, ./images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                media="(max-width: 1023px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                media="(min-width: 1024px) and (max-width: 1279px)">
                            <source
                                srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x"
                                media="(min-width: 1280px)">
                            <img class=""
                                src="./images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg"
                                alt="Двомісний номер люкс">
                        </picture>
                    </div>
                </div>

                <div class="wrapper">
                    <div class="room-list__slider">
                        <ul class="room-list__item-slider">
                            <li>
                                <div class="room-list__item-image">
                                    <picture>
                                        <source
                                            srcset="./images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg 1x, ./images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile@2x.jpg 2x"
                                            media="(max-width: 1023px)">
                                        <source
                                            srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-tablet@2x.jpg 2x"
                                            media="(min-width: 1024px) and (max-width: 1279px)">
                                        <source
                                            srcset="/src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop.jpg 1x, /src/images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-desktop@2x.jpg 2x"
                                            media="(min-width: 1280px)">
                                        <img class=""
                                            src="./images/hotel-page/modern-studio-apartment-design-with-bedroom-living-space-mobile.jpg"
                                            alt="Двомісний номер люкс">
                                    </picture>
                                </div>

                            </li>
                            <li>
                                <div class="room-list__item-image">
                                </div>

                            </li>
                        </ul>

                        <div class="room-list__button-slider">
                            <button class="room-list__button-prev ">
                                <svg class="room-list__button-prev_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-left-32"></use>
                                </svg>
                            </button>
                            <button class="room-list__button-next ">
                                <svg class="room-list__button-next_icon" aria-label="">
                                    <use class="" href="./images/icons.svg#icon-arrow-right-32"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="room-list__button-more">
                        <a class="room-list__button-detail button" href="#">Детальніше</a>
                        <button class="room-list__button-prices button">Переглянути ціни</button>
                    </div>
                </div>

            </div>
        </li> -->
    </ul>

</section>