<section class="hotel-hero">
  <div class="hotel-hero__background">
    <div class="container">
      <div class="hotel-hero__container">
        <h1 class="hotel-hero__title">MIMIHO</h1>
        <p class="hotel-hero__pre-title">Готель</p>
        <div class="hotel-hero__address-box">
          <a
            href="https://goo.gl/maps/t7xQsDHDBA6LQ2pr5"
            class="hotel-hero__address-link"
            target="_blank"
            rel="noopener noreferrer nofollow"
          >
            <svg class="hotel-hero__address-icon">
              <use href="./images/icons.svg#icon-location"></use>
            </svg>
            Україна, м. Полтава, <br />
            вул. Маршала Бірюзова, 15
          </a>
        </div>
        <ul class="hotel-hero__btn-list">
          <li>
            <button
              type="button"
              class="button-transparent"
              data-modal-open-room
            >
              Забронювати номер
            </button>
          </li>
          <li>
            <button
              type="button"
              class="button-transparent"
              data-modal-open-price
            >
              Переглянути ціни
            </button>
          </li>
        </ul>
        <ul class="hotel-hero__social-list ul">
          <li class="hotel-hero__social-item">
            <a
              href="https://www.edu.goit.global/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="hotel-hero__social-link"
            >
              <svg width="24" height="24" class="hotel-hero__social-icon">
                <use href="./images/icons.svg#icon-instagram"></use>
              </svg>
            </a>
          </li>
          <li class="hotel-hero__social-item">
            <a
              href="https://www.edu.goit.global/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="hotel-hero__social-link"
            >
              <svg width="24" height="24" class="hotel-hero__social-icon">
                <use href="./images/icons.svg#icon-facebook"></use>
              </svg>
            </a>
          </li>
          <li class="hotel-hero__social-item">
            <a
              href="https://www.edu.goit.global/"
              target="_blank"
              rel="noreferrer noopener nofollow"
              class="hotel-hero__social-link"
            >
              <svg width="24" height="24" class="hotel-hero__social-icon">
                <use href="./images/icons.svg#icon-telegram"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
