<section class="restaurant-menu" name="menu">
    <div class="container">
        <h2 class="restaurant-menu__header">Меню ресторану</h2>
        <div class="restaurant-menu__table-thumb">
            <table class="restaurant-menu__table">
                
                <tbody class="restaurant-menu__tbody">
        
                <tr>
                    <td colspan="3" class="restaurant-menu__title">Гарячі страви</td>   
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Борщ з телятини з квасолею</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--left">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</td>
                    <td class=" restaurant-menu__portion-size restaurant-menu__portion-size--left">400 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">240 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Суп сирний з куркою</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--left">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">400 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">200 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Паста карбонара</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--left">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">350 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">430 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Стейк зі свинини</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--left">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">400 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">500 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Горбуша в соусі з білого <br class="restaurant-menu__br-tablet"/>вина</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--last restaurant-menu__description--left">Ніжна горбуша, вершковий соус на основі білого вина</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">400 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">400 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__title">Гарніри та закуски</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Запечені овочі</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--left">Кабачок, перець, помідор, баклажан</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">200 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">230 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Картопля фрі</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--left">Картопля, соус томатний</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">150 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">160 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Картопля по-селянськи</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--left">Картопля, спеції, соус пікантний</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">150 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">160 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Хрумкі соління з бочки</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--left">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">250 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">350 грн</td>
                </tr>
                <tr>
                    <td colspan="3" class="restaurant-menu__dish">Крильця курячі в медовому <br class="restaurant-menu__br-desktop"/>соусі</td>
                </tr>
                <tr>
                    <td class="restaurant-menu__description restaurant-menu__description--last restaurant-menu__description--left">Крильця курячі, гірчично-медовий<br/>соус, подається з морквою, селерою і соусом блючиз</td>
                    <td class="restaurant-menu__portion-size restaurant-menu__portion-size--left">400 г</td>
                    <td class="restaurant-menu__price restaurant-menu__price--left">420 грн</td>
                </tr>
                </tbody>
            </table>

            <table class="restaurant-menu__table">
                <tbody>
                    <tr>
                        <td colspan="3" class="restaurant-menu__title">Салати</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="restaurant-menu__dish">Цезар з куркою</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__description restaurant-menu__description--right">Куряче філе, листя салату, помідори<br/>чері, сир пармезан, грінки, соус цезар</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--right">230 г</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">450 грн</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="restaurant-menu__dish">Цезар з креветками</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__description restaurant-menu__description--right">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--right">230 г</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">300 грн</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="restaurant-menu__dish">Грецький салат</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__description restaurant-menu__description--right">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--right">230 г</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">280 грн</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="restaurant-menu__dish">М’ясний салат</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__description restaurant-menu__description--last restaurant-menu__description--right">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--right">230 г</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">300 грн</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="restaurant-menu__title">Десерти</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__dish restaurant-menu__dish--item">Торт наполеон</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--right">230 г</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">300 грн</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__dish restaurant-menu__dish--item">Торт маковий</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--right">230 г</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">300 грн</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__dish restaurant-menu__dish--last">Тірамісу</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--right">120 г</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">260 грн</td>
                    </tr>
                    <tr>
                        <td colspan="3" class="restaurant-menu__title">Напої</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__dish restaurant-menu__dish--item">Чай чорний/зелений</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--position restaurant-menu__portion-size--right">500 мл</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">100 грн</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__dish restaurant-menu__dish--item">Еспресо</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--position restaurant-menu__portion-size--right">30 мл</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">100 грн</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__dish restaurant-menu__dish--item">Американо</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--position restaurant-menu__portion-size--right">150 мл</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">100 грн</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__dish restaurant-menu__dish--item">Капучино</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--position restaurant-menu__portion-size--right">200 мл</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">160 грн</td>
                    </tr>
                    <tr>
                        <td class="restaurant-menu__dish restaurant-menu__dish--last">Лате</td>
                        <td class="restaurant-menu__portion-size restaurant-menu__portion-size--position restaurant-menu__portion-size--right">200 мл</td>
                        <td class="restaurant-menu__price restaurant-menu__price--right">160 грн</td>
                    </tr>
                
                </tbody>
            </table>
        </div>
        <div class="restaurant-menu__button-thumb">
            <button type="button" class="button-transparent restaurant-menu__button-book-table" modal-open-table>
            Забронювати столик
            </button>
        </div>
    </div>
</section>