<section class="about-kitchen">
  <div class="container">
    <div class="about-kitchen__set-main">
      <div class="about-kitchen__content">
      <h2 class="about-kitchen__title">Amet minim mollit non</h2>
      <h3 class="about-kitchen__logo">MIMIHO</h3>
      <p class="about-kitchen__description">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>
    <picture>
      <source
        srcset="
          ./images/restorant/restaurant-kitchen-img1-414.jpg    1x,
          ./images/restorant/restaurant-kitchen-img1-414@2x.jpg 2x
        "
        media="(max-width: 1023px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/restorant/restaurant-kitchen-img1-1280.jpg    1x,
          ./images/restorant/restaurant-kitchen-img1-1280@2x.jpg 2x
        "
        media="(min-width: 1280px)"
        type="image/jpeg"
      />
      <source
        srcset="
          ./images/restorant/restaurant-kitchen-img1-1024.jpg    1x,
          ./images/restorant/restaurant-kitchen-img1-1024@2x.jpg 2x
        "
        media="(min-width: 1024px)"
        type="image/jpeg"
      />
      <img
        class="about-kitchen__img"
        src="./images/restorant/restaurant-kitchen-img1-1280.jpg"
        alt="Кухар точить ніж"
      />
    </picture>
    </div>

    <div class="about-kitchen__set-secondary">
      <picture>
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img2-414.jpg    1x,
            ./images/restorant/restaurant-kitchen-img2-414@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img2-1280.jpg    1x,
            ./images/restorant/restaurant-kitchen-img2-1280@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img2-1024.jpg    1x,
            ./images/restorant/restaurant-kitchen-img2-1024@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
        />
        <img
          class="about-kitchen__img"
          src="./images/restorant/restaurant-kitchen-img2-1280.jpg"
          alt="М'ясо на дошці"
        />
      </picture>
      <p class="about-kitchen__description about-kitchen__description--brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="about-kitchen__slider">SLIDER</div>
  </div>
</section>
