<section class="restaurant-menu">
    <div class="container">
        <table class="restaurant-menu__table">
            <caption class="restaurant-menu__header">Меню ресторану</caption>
            <tbody>
            <tr>
                <td colspan="3" class="restaurant-menu__title">Гарячі страви</td>   
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Борщ з телятини з квасолею</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Телятина, картопля, капуста, морква, цибуля, квасоля, часник, помідори, зелень, сметана</td>
                <td class="restaurant-menu__portion-size">400 г</td>
                <td class="restaurant-menu__price">240 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Суп сирний з куркою</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Курятина, картопля, морква, цибуля, печериці, сир м’який, зелень</td>
                <td class="restaurant-menu__portion-size">400 г</td>
                <td class="restaurant-menu__price">200 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Паста карбонара</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Паста тальятеле, бекон, вершки, сир пармезан, яйце, зелень</td>
                <td class="restaurant-menu__portion-size">350 г</td>
                <td class="restaurant-menu__price">430 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Стейк зі свинини</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Свиняча вирізка, спеціі, подається з соусом солодкий чилі та овочами</td>
                <td class="restaurant-menu__portion-size">400 г</td>
                <td class="restaurant-menu__price">500 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Горбуша в соусі з білого вина</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description restaurant-menu__description--last">Ніжна горбуша, вершковий соус на основі білого вина</td>
                <td class="restaurant-menu__portion-size">400 г</td>
                <td class="restaurant-menu__price">400 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__title">Гарніри та закуски</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Запечені овочі</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Кабачок, перець, помідор, баклажан</td>
                <td class="restaurant-menu__portion-size">200 г</td>
                <td class="restaurant-menu__price">230 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Картопля фрі</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Картопля, соус томатний</td>
                <td class="restaurant-menu__portion-size">150 г</td>
                <td class="restaurant-menu__price">160 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Картопля по-селянськи</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Картопля, спеції, соус пікантний</td>
                <td class="restaurant-menu__portion-size">150 г</td>
                <td class="restaurant-menu__price">160 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Хрумкі соління з бочки</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Огірок солений, помідор квашений, квашена капуста, морква по-корейські</td>
                <td class="restaurant-menu__portion-size">250 г</td>
                <td class="restaurant-menu__price">350 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Крильця курячі в медовому <br/>соусі</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description restaurant-menu__description--last">Крильця курячі, гірчично-медовий соус, подається з морквою, селерою і соусом блючиз</td>
                <td class="restaurant-menu__portion-size">400 г</td>
                <td class="restaurant-menu__price">420 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__title">Салати</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Цезар з куркою</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Куряче філе, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                <td class="restaurant-menu__portion-size">230 г</td>
                <td class="restaurant-menu__price">450 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Цезар з креветками</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Тигрові креветки, листя салату, помідори чері, сир пармезан, грінки, соус цезар</td>
                <td class="restaurant-menu__portion-size">230 г</td>
                <td class="restaurant-menu__price">300 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">Грецький салат</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description">Свіжі огірок, помідор, болгарський перець, оливки, сир бринза, листя салату, соус</td>
                <td class="restaurant-menu__portion-size">230 г</td>
                <td class="restaurant-menu__price">280 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__dish">М’ясний салат</td>
            </tr>
            <tr>
                <td class="restaurant-menu__description restaurant-menu__description--last">Куряче філе або свиняча вирізка, свіжі огірок, помідор, болгарський перець, соус ранч</td>
                <td class="restaurant-menu__portion-size">230 г</td>
                <td class="restaurant-menu__price">300 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__title">Десерти</td>
            </tr>
            <tr>
                <td class="restaurant-menu__dish restaurant-menu__dish--item">Торт наполеон</td>
                <td class="restaurant-menu__portion-size">230 г</td>
                <td class="restaurant-menu__price">300 грн</td>
            </tr>
            <tr>
                <td class="restaurant-menu__dish restaurant-menu__dish--item">Торт маковий</td>
                <td class="restaurant-menu__portion-size">230 г</td>
                <td class="restaurant-menu__price">300 грн</td>
            </tr>
            <tr>
                <td class="restaurant-menu__dish restaurant-menu__dish--last">Тірамісу</td>
                <td class="restaurant-menu__portion-size">120 г</td>
                <td class="restaurant-menu__price">260 грн</td>
            </tr>
            <tr>
                <td colspan="3" class="restaurant-menu__title">Напої</td>
            </tr>
            <tr>
                <td class="restaurant-menu__dish restaurant-menu__dish--item">Чай чорний/зелений</td>
                <td class="restaurant-menu__portion-size">500 мл</td>
                <td class="restaurant-menu__price">100 грн</td>
            </tr>
            <tr>
                <td class="restaurant-menu__dish restaurant-menu__dish--item">Еспресо</td>
                <td class="restaurant-menu__portion-size">30 мл</td>
                <td class="restaurant-menu__price">100 грн</td>
            </tr>
            <tr>
                <td class="restaurant-menu__dish restaurant-menu__dish--item">Американо</td>
                <td class="restaurant-menu__portion-size">150 мл</td>
                <td class="restaurant-menu__price">100 грн</td>
            </tr>
            <tr>
                <td class="restaurant-menu__dish restaurant-menu__dish--item">Капучино</td>
                <td class="restaurant-menu__portion-size">200 мл</td>
                <td class="restaurant-menu__price">160 грн</td>
            </tr>
            <tr>
                <td class="restaurant-menu__dish restaurant-menu__dish--last">Лате</td>
                <td class="restaurant-menu__portion-size">200 мл</td>
                <td class="restaurant-menu__price">160 грн</td>
            </tr>
        </tbody>
        </table>
        <div class="restaurant-menu__button-thumb">
            <button type="button" class="restaurant-menu__button-book-table" modal-open-table>
            Забронювати столик
            </button>
        </div>
    </div>
</section>