<section class="about-kitchen">
  <div class="container">
    <div class="about-kitchen__set-main">
      <div class="about-kitchen__content">
        <h2 class="about-kitchen__title">Amet minim mollit non</h2>
        <h3 class="about-kitchen__logo">MIMIHO</h3>
        <p class="about-kitchen__description">
          Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
          sint. Velit officia consequat duis enim velit mollit. Exercitation
          veniam consequat sunt nostrud amet.
        </p>
      </div>
      <picture>
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img1-414.jpg    1x,
            ./images/restorant/restaurant-kitchen-img1-414@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img1-1280.jpg    1x,
            ./images/restorant/restaurant-kitchen-img1-1280@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img1-1024.jpg    1x,
            ./images/restorant/restaurant-kitchen-img1-1024@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
        />
        <img
          class="about-kitchen__img about-kitchen__img--margin-top"
          src="./images/restorant/restaurant-kitchen-img1-1280.jpg"
          alt="Кухар точить ніж"
        />
      </picture>
    </div>

    <div class="about-kitchen__set-secondary">
      <picture>
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img2-414.jpg    1x,
            ./images/restorant/restaurant-kitchen-img2-414@2x.jpg 2x
          "
          media="(max-width: 1023px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img2-1280.jpg    1x,
            ./images/restorant/restaurant-kitchen-img2-1280@2x.jpg 2x
          "
          media="(min-width: 1280px)"
          type="image/jpeg"
        />
        <source
          srcset="
            ./images/restorant/restaurant-kitchen-img2-1024.jpg    1x,
            ./images/restorant/restaurant-kitchen-img2-1024@2x.jpg 2x
          "
          media="(min-width: 1024px)"
          type="image/jpeg"
        />
        <img
          class="about-kitchen__img"
          src="./images/restorant/restaurant-kitchen-img2-1280.jpg"
          alt="М'ясо на дошці"
        />
      </picture>
      <p class="about-kitchen__description about-kitchen__description--brown">
        Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet
        sint. Velit officia consequat duis enim velit mollit. Exercitation
        veniam consequat sunt nostrud amet.
      </p>
    </div>

    <div class="about-kitchen__swiper-thumb">
      <div data-slider="about-rest-slider">
        <div class="swiper">
          <ul class="swiper-wrapper">
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img1-414.jpg  1x,
                      ./images/restorant/restaurant-kitchen-slider-img1-414@2x.jpg 2x
                    "
                    media="(max-width: 1023px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img1-1024.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img1-1024@2x.jpg 2x
                    "
                    media="(max-width: 1279px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img1-1280.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img1-1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="about-kitchen__img--border"
                    src="./images/restorant/restaurant-kitchen-slider-img1-414.jpg"
                    alt="Фото ресторану №3"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img2-414.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img2-414@2x.jpg 2x
                    "
                    media="(max-width: 1023px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img2-1024.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img2-1024@2x.jpg 2x
                    "
                    media="(max-width: 1279px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img2-1280.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img2-1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="about-kitchen__img--border"
                    src="./images/restorant/restaurant-kitchen-slider-img2-414.jpg"
                    alt="Фото ресторану №4"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img3-414.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img3-414@2x.jpg 2x
                    "
                    media="(max-width: 1023px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img3-1024.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img3-1024@2x.jpg 2x
                    "
                    media="(max-width: 1279px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img3-1280.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img3-1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="about-kitchen__img--border"
                    src="./images/restorant/restaurant-kitchen-slider-img3-414.jpg"
                    alt="Фото ресторану №5"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img4-414.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img4-414@2x.jpg 2x
                    "
                    media="(max-width: 1023px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img4-1024.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img4-1024@2x.jpg 2x
                    "
                    media="(max-width: 1279px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img4-1280.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img4-1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="about-kitchen__img--border"
                    src="./images/restorant/restaurant-kitchen-slider-img4-414.jpg"
                    alt="Фото ресторану №6"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img5-414.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img5-414@2x.jpg 2x
                    "
                    media="(max-width: 1023px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img5-1024.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img5-1024@2x.jpg 2x
                    "
                    media="(max-width: 1279px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img5-1280.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img5-1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="about-kitchen__img--border"
                    src="./images/restorant/restaurant-kitchen-slider-img5-414.jpg"
                    alt="Фото ресторану №6"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img6-414.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img6-414@2x.jpg 2x
                    "
                    media="(max-width: 1023px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img6-1024.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img6-1024@2x.jpg 2x
                    "
                    media="(max-width: 1279px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img6-1280.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img6-1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="about-kitchen__img--border"
                    src="./images/restorant/restaurant-kitchen-slider-img6-414.jpg"
                    alt="Фото ресторану №6"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner">
                <picture>
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img7-414.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img7-414@2x.jpg 2x
                    "
                    media="(max-width: 1023px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img7-1024.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img7-1024@2x.jpg 2x
                    "
                    media="(max-width: 1279px)"
                    type="image/jpeg"
                  />
                  <source
                    srcset="
                      ./images/restorant/restaurant-kitchen-slider-img7-1280.jpg    1x,
                      ./images/restorant/restaurant-kitchen-slider-img7-1280@2x.jpg 2x
                    "
                    type="image/jpeg"
                  />
                  <img
                    class="about-kitchen__img--border"
                    src="./images/restorant/restaurant-kitchen-slider-img7-414.jpg"
                    alt="Фото ресторану №6"
                  />
                </picture>
              </div>
            </li>
            <li class="swiper-slide">
              <div class="swiper-inner"></div>
            </li>
          </ul>
          <div class="about-kitchen__swiper-btns">
            <button type="button" class="arrow-swiper-prev">
              <svg class="" width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-left"></use>
              </svg>
            </button>
            <button type="button" class="arrow-swiper-next">
              <svg class="" width="32" height="32">
                <use href="./images/icons.svg#icon-arrow-right"></use>
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
