.hotel-page {
    margin-left: auto;
    margin-right: auto;
    background-color: $main-background-color;
    // max-width: 414px;

    // outline: 1px solid red;
    // padding: 32px 15px;
    // background: $second-background-color;
    @include for-size(tablet) {
        // max-width: $tablet;
    }

    @include for-size(desktop) {
        width: $desktop;
    }
}

// .room-list {}

.room-list__item {
    // max-width: 414px;
    padding-top: 32px;
    padding-bottom: 32px;

    @include for-size(tablet) {
        // max-width: $tablet;
        padding-top: 0;
        // padding-bottom: 0;
    }

    @include for-size(desktop) {
        width: $desktop;
    }

    & .container {
        overflow: hidden;

        @include for-size(tablet) {
            // max-width: $tablet;
            display: flex;
            flex-wrap: wrap;
            overflow: visible;
        }

        @include for-size(desktop) {
            width: $desktop;
        }

        // &:nth-child(even) {
        //     flex-direction: row-reverse;
        // }
    }

    &:nth-child(odd) {

        .room-list__item-slider {
            right: 115px;

            @include for-size(tablet) {
                right: initial;
            }

            @include for-size(desktop) {}
        }

        .room-list__image {

            // margin-left: 145px;
            // margin-left: auto;
            // margin-right: 0;
            @include for-size(tablet) {
                width: 400px;
                height: 524px;
                margin: 0;
                position: relative;
                top: -32px;
                right: 65px;
            }

            @include for-size(desktop) {
                width: 460px;
                height: 574px;
                right: 95px;
            }
        }

        .section-description {
            max-width: 258px;
            margin-left: 0;

            @include for-size(tablet) {
                // max-width: $tablet;
                max-width: 439px;
                font-size: 16px;
                line-height: 20px;
                letter-spacing: 0.02em;
            }

            @include for-size(desktop) {}
        }



        .section-subtitle {
            text-align: left;

            @include for-size(tablet) {
                // margin-top: 62px;
            }

            @include for-size(desktop) {}
        }

        .logo {
            text-align: left;
        }

        .section-title {
            text-align: left;
        }

        .room-list__button-slider {
            justify-content: normal;

            @include for-size(tablet) {
                justify-content: flex-end;
            }

            @include for-size(desktop) {}
        }
    }

    &:nth-child(even) {
        background-color: $second-background-color;

        .container {
            .wrapper {
                flex-direction: row-reverse;
            }

        }

        .section-description {
            max-width: 242px;
            margin-left: initial;
        }

        .room-list__image {

            // width: 244px;
            // margin-bottom: 32px;
            // margin-left: 0;
            // margin-right: auto;
            @include for-size(tablet) {
                width: 400px;
                // height: 524px;
                margin: 0;
                position: relative;
                top: -32px;
                left: 65px;
                // right: 97px;
            }

        }

        .room-list__item-slider {
            left: initial;

            .room-list__button-more {
                margin-left: 0;
                margin-right: initial;
            }



            @include for-size(tablet) {
                // right: initial;
            }

            @include for-size(desktop) {}
        }

        .room-list__button-slider {

            @include for-size(tablet) {
                justify-content: flex-start;
            }
        }

        // .room-list__button-slider {
        //     @include for-size(tablet) {
        //         justify-content: start;
        //     }
        // }

        .section-subtitle {
            text-align: right;
        }

        .logo {
            text-align: right;
        }

        .section-title {
            text-align: right;
        }
    }

}

.room-list__image {
    width: 244px;
    height: 322px;
    margin-bottom: 32px;
    margin-left: auto;
    background: $shadow-image-color;
    box-shadow: 2px 2px 60px 2px $shadow-color;
    border-radius: 2px;

    // @include for-size(tablet) {
    //     width: 400px;
    //     height: 524px;
    //     margin: 0;
    //     position: relative;
    //     top: -32px;
    //     right: 97px;
    // }
}

.room-list__text {
    @include for-size(tablet) {
        // display: flex;
    }

    @include for-size(desktop) {}
}

.section-subtitle {
    margin-bottom: 8px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    /* identical to box height */
    color: $title-text-color;
    // text-align: right;

    @include for-size(tablet) {
        margin-top: 62px;
        // max-width: $tablet;
        // margin-bottom: 4px;
        // font-size: 32px;
        // line-height: 37px;
    }

    @include for-size(desktop) {
        margin-top: 72px;
        font-size: 32px;
        line-height: 37px;
        // width: $desktop;
    }
}

.logo {
    margin-bottom: 32px;
    font-family: 'Film P3';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 43px;
    /* identical to box height */

    letter-spacing: 0.3em;

    color: $logo-text-color;

    @include for-size(tablet) {
        // max-width: $tablet;
        margin-bottom: 62px;
        font-size: 64px;
        line-height: 69px;
        /* identical to box height */

        letter-spacing: 0.3em;
    }

    @include for-size(desktop) {
        // width: $desktop;
        margin-bottom: 72px;
    }
}

.section-title {
    margin-bottom: 12px;
    font-family: 'Times New Roman';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    // line-height: 28px;
    line-height: 1.17;
    /* identical to box height */

    letter-spacing: 0.05em;

    /* Black */
    text-transform: uppercase;
    color: $secondary-color;

    @include for-size(tablet) {
        // max-width: $tablet;
        margin-bottom: 16px;
        font-size: 30px;
        line-height: 34px;
        letter-spacing: 0.05em;
    }

    @include for-size(desktop) {
        // width: $desktop;
        margin-bottom: 24px;
        font-size: 36px;
        line-height: 41px;
        letter-spacing: 0.05em;
    }
}

.lower {
    text-transform: lowercase;
}

.section-description {
    margin-bottom: 32px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    // line-height: 15px;
    line-height: 1.25;
    letter-spacing: 0.02em;
    color: #7A7A7A;

    @include for-size (tablet) {
        font-size: 16px;
        line-height: 20px;
        letter-spacing: 0.02em;
    }
}

.room-list__item-slider {
    position: relative;
    // left: 115px;
    // margin-left: 115px;
    margin-bottom: 20px;
    display: flex;
    gap: 16px;

    @include for-size(tablet) {
        gap: 40px;
        // right: initial;
    }

    @include for-size(desktop) {}
}

.room-list__item-image {
    width: 194px;
    height: 194px;
    background-color: $shadow-image-color;
    /* shadow_little */

    box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;

    @include for-size(desktop) {
        width: 254px;
        height: 254px;
    }
}

.room-list__button-slider {
    display: flex;
    margin-bottom: 20px;
    // text-align: right;
    justify-content: flex-end;
    gap: 32px;

    @include for-size(tablet) {
        margin-bottom: 0;
    }
}

.room-list__button-prev {
    width: 32px;
    height: 32px;
    padding: 0;
    // margin-right: 32px;
}

.room-list__button-next {
    width: 32px;
    height: 32px;
    padding: 0;
}

.room-list__button-prev_icon {
    width: 100%;
    height: 100%;

}

.room-list__button-next_icon {
    width: 100%;
    height: 100%;
}

.room-list__button-more {
    // margin: auto 0;
    width: 236px;
    margin-left: auto;
    margin-right: auto;

    @include for-size(tablet) {
        width: auto;
        display: flex;
        // align-items: center;
        flex-direction: column;
        // justify-content: center;
        margin-top: 45px;
        margin-left: initial;
        margin-right: initial;
        gap: 16px;
        // text-align: right;
        // margin-left: auto;
        // margin: 0;
        // justify-content: flex-end;
    }

    @include for-size(desktop) {
        margin-top: 70px;
    }
}

.room-list__button-detail {
    display: block;
    margin-bottom: 16px;
    padding: 14px 64px;

    @include for-size(tablet) {
        margin-bottom: initial;
        // gap: 16px;
    }
}

.room-list__button-prices {
    padding: 14px 34px;
}

.wrapper {
    @include for-size(tablet) {
        display: flex;
        width: 100%;
        justify-content: space-between;
    }
}