.hotel {
    // margin-left: auto;
    // margin-right: auto;
    background-color: $main-background-color;
    overflow: hidden;

    @include for-size(tablet) {
        overflow: visible;
    }

    @include for-size(desktop) {}
}

.hotel-list {
    // padding: 32px 0;
}

.hotel-list__item {
    padding: 32px 0;

    &:nth-child(even) {
        background-color: $second-background-color;

        .section-subtitle {
            text-align: right;
        }

        .logo {
            text-align: right;

            @include for-size(tablet) {
                margin-right: -10px;
            }

            @include for-size(desktop) {
                margin-right: -20px;
            }

        }

        .swiper-position {
            // left: 130px;
            left: 10%;

            @media screen and (min-width: 414px) {
                padding-right: 0;
                left: initial;
                // left: auto;
                // right: 0;
                // } {
                //     left: initial;
            }
        }

        .hotel-list__item-image {
            // width: 244px;
            // height: 322px;
            // margin-bottom: 32px;
            margin-left: 0;
        }

        .hotel-slider__buttons {

            @media screen and (max-width: 413px) {
                justify-content: center;
            }

            @media screen and (min-width: 414px) {
                justify-content: start;
            }




            @include for-size(tablet) {
                margin-left: initial;
                justify-content: start;
            }

        }

        .hotel-list__item-wrapper {
            margin-left: 0;
            flex-direction: row-reverse;

            .hotel-slider__buttons {
                // justify-content: flex-start;
            }

        }

        @include for-size(tablet) {
            .hotel-list__item-image {
                // width: 400px;
                // height: 524px;
                // margin: 0;
                // position: relative;
                // top: -32px;
                /* right: 65px; */
                left: 65px;

                @include for-size(desktop) {
                    left: 90px;
                }
            }



        }

    }

    @include for-size(tablet) {
        padding-top: 0;
    }
}

.swiper-position {
    right: 130px;


    .hotel-list__item-wrapper {
        @include for-size(tablet) {
            display: flex;
            // width: 100%;
            justify-content: space-between;
        }
    }

    // .hotel-slider__buttons {
    //     justify-content: flex-end;
    // }


    .section-subtitle {
        margin-bottom: 8px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 23px;
        color: $title-text-color;

        @include for-size(tablet) {
            margin-top: 62px;
        }

        @include for-size(desktop) {
            margin-top: 72px;
            font-size: 32px;
            line-height: 37px;
        }

    }

    .logo {
        margin-bottom: 32px;
        font-family: 'Film P3';
        font-style: normal;
        font-weight: 700;
        font-size: 40px;
        line-height: 43px;
        letter-spacing: 0.3em;
        color: $logo-text-color;

        @include for-size(desktop) {
            margin-bottom: 72px;
            font-size: 64px;
            line-height: 69px;
        }
    }

    .lower {
        text-transform: lowercase;
    }

    .section-title {
        margin-bottom: 12px;
        font-family: 'Times New Roman';
        font-style: normal;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: $secondary-color;

        @include for-size(desktop) {
            margin-bottom: 24px;
            font-size: 36px;
            line-height: 41px;
            letter-spacing: 0.05em;
        }
    }

    .section-description {
        max-width: 258px;
        margin-bottom: 32px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.25;
        letter-spacing: 0.02em;
        color: $main-text-color;

        @include for-size(tablet) {
            max-width: 439px;
            font-size: 16px;
            line-height: 20px;
            letter-spacing: 0.02em;
        }

        @include for-size(desktop) {
            max-width: 439px;
            // letter-spacing: .02em;
            // font-size: 16px;
            // line-height: 20px;
        }
    }

    .hotel-list__item-image {
        width: 244px;
        height: 322px;
        margin-bottom: 32px;
        margin-left: auto;
        background: $shadow-image-color;
        box-shadow: 2px 2px 60px 2px $shadow-color;
        border-radius: 2px;

        @include for-size(tablet) {
            width: 400px;
            height: 524px;
            margin: 0;
            position: relative;
            top: -32px;
            right: 65px;
        }

        @include for-size(desktop) {
            width: 460px;
            height: 574px;
            right: 95px;
        }
    }

    .hotel-slider {
        width: 400px;

        // right: 115px;
        @include for-size(mobile) {
            width: 450px;
            // margin-right: 60px;
            margin-right: 0;
            margin-left: auto;
        }

        @include for-size(desktop) {
            width: 555px;
            margin-right: 0px;
        }
    }

    .hotel-list__slider {}

    .hotel-slider__list {
        margin-bottom: 20px;

    }

    .hotel-slider__item {}

    .hotel-slider__item-image {
        width: 194px;
        height: 194px;
        background-color: $shadow-image-color;

        box-shadow: 2px 2px 60px 2px rgba(0, 0, 0, 0.25);
        border-radius: 2px;

        @include for-size(desktop) {
            width: 254px;
            height: 254px;
        }
    }

    .hotel-slider__buttons {
        .room-list__button-slider {
            // justify-content: normal;

            // @include for-size(tablet) {
            //     justify-content: flex-end;
            // }

            // @include for-size(desktop) {}
        }
    }

    .hotel-slider__buttons {
        display: flex;
        margin-bottom: 20px;
        gap: 32px;
        // justify-content: normal;
        justify-content: center;

        @media screen and (max-width: 413px) {
            justify-content: center;
        }

        @media screen and (min-width: 414px) {
            justify-content: flex-end;
        }

        @include for-size(desktop) {}

        // @include for-size(tablet) {
        //     margin-bottom: 0;
        // }
    }

    .hotel-slider__button {
        width: 32px;
        height: 32px;
        padding: 0;
    }

    .hotel-slider__button-icon {
        width: 100%;
        height: 100%;
    }

    .hotel-list__button-more {
        width: 236px;
        margin-left: auto;
        margin-right: auto;

        @include for-size(tablet) {
            width: auto;
            display: flex;
            flex-direction: column;
            margin-top: 45px;
            margin-left: initial;
            margin-right: initial;
            // gap: 16px;
        }

        @include for-size(desktop) {
            margin-top: 70px;
        }
    }

    .hotel-list__button-detail {
        display: block;
        margin-bottom: 16px;
        padding: 14px 64px;
    }

    .hotel-list__button-prices {
        padding: 14px 34px;
    }

    .overflow-hidden {
        overflow: hidden;
    }