<section class="amenities">
    <div class="container">
        <h2 class="amenities__title-1">ЗРУЧНОСТІ У НОМЕРІ</h2>
        <p class="amenities__text-1">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h3 class="amenities__title-2">ЗАГАЛЬНІ</h3>
        <div class="amenities__text-container">
            <p class="amenities__text-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <p class="amenities__text-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit  officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
    
        <h3 class="amenities__title-2">ВАННА КІМНАТА</h3>
        <div class="amenities__text-container">
            <p class="amenities__text-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
            <p class="amenities__text-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
                officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        </div>
        <h3 class="amenities__title-2">СПАЛЬНЯ</h3>
        <p class="amenities__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
        <h3 class="amenities__title-2">КУХНЯ</h3>
        <div class="amenities__text-container">
            <p class="amenities__text-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
            <p class="amenities__text-3">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        </div> 
        <h3 class="amenities__title-2">МЕДІА</h3>
        <p class="amenities__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. </p>
        <div class="amenities__buttons-reserv-case">
            <button class="btn-book amenities__button" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
            <div class="amenities__button-case">
                <a href="" class="amenities__arrow-title">Повернутися до перегляду номерів
                    <svg class="amenities__arrow" aria-label="Кнопка повернутися до перегляду номерів" width="22px" height="22px">
                        <use href="./images/icons.svg#icon-arrow-right"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</section>