<section class="room-page__hero-room">
    <div class="room-page__container container">
        <h1 class="room-page__title">ДВОМІСНИЙ НОМЕР люкс</h1>
        <p class="room-page__text-1">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <button type="button" class="button room-page__button">Переглянути ціни</button>
        <button type="button" class="room-page__forward_arrow">
            <svg class="room-page__svg"
                aria-label="Стрілка слайдера вперед" width="40px" height="40px">
                <use href="./images/icons.svg#icon-arrow-right" class="room-page__back-arrow-icon"></use>
            </svg>
        </button>
        <button type="button" class="room-page__back_arrow">
            <svg aria-label="Стрілка слайдера назад" width="40px" height="40px">
                <use href="./images/icons.svg#icon-arrow-left"></use>
            </svg>
        </button>
    </div>
</section>