<section class="hero-room">
  <div class="container">
    <div class="hero-room__adres-box"> 
      <a class="hero-room__adres-link" 
      href="https://goo.gl/maps/tRPL9USdRp7PTAeY7" 
      target="_blank" rel="nofollow noopener noreferrer"> 
      <svg width="24" height="24" class="hero-room__adres-icon"> 
        <use href="./images/icons.svg#icon-location"></use> 
      </svg> 
      Україна, м. Полтава,<br> вул. Маршала Бірюзова, 15 </a> </div>  
    <h1 class="hero-room__title">ДВОМІСНИЙ НОМЕР люкс</h1>
      <p class="hero-room__text-1">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
          officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
      <button type="button" class="button hero-room__button">Переглянути ціни</button>
   
      <button type="button" class="arrow-swiper hero-room__forward_arrow">
          <svg class="hero-room__svg"
              aria-label="Стрілка слайдера вперед" width="40px" height="40px"> 
              <use href="./images/icons.svg#icon-arrow-right" class="hero-room__back-arrow-icon"></use>
          </svg>
      </button>
      <button type="button" class="arrow-swiper hero-room__back_arrow">
          <svg aria-label="Стрілка слайдера назад" width="40px" height="40px">
              <use href="./images/icons.svg#icon-arrow-left"></use>
          </svg>
      </button>
  
      <ul class="hero-room__social-list">
        <li class="hero-room__item">
          <a
            href="https://www.edu.goit.global/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="hero-room__social-link"
          >
            <svg width="22" height="22" class="hero-room__social-icon">
              <use href="./images/icons.svg#icon-instagram"></use>
            </svg>
          </a>
        </li>
        <li class="hero-room__item">
          <a
            href="https://www.edu.goit.global/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="hero-room__social-link"
          >
            <svg width="22" height="22" class="hero-room__social-icon">
              <use href="./images/icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
        <li class="hero-room__item">
          <a
            href="https://www.edu.goit.global/"
            target="_blank"
            rel="noreferrer noopener nofollow"
            class="hero-room__social-link"
          >
            <svg width="22" height="22" class="hero-room__social-icon">
              <use href="./images/icons.svg#icon-telegram"></use>
            </svg>
          </a>
        </li>
      </ul>
  </div>
</section>