<section class="room-page__description">
    <div class="container">
        <h2 class="room-page__title-1">ЗРУЧНОСТІ У НОМЕРІ</h2>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h3 class="room-page__title-2">ЗАГАЛЬНІ</h3>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h3 class="room-page__title-2">ВАННА КІМНАТА</h3>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.</p>
        <h3 class="room-page__title-2">СПАЛЬНЯ</h3>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. </p>
        <h3 class="room-page__title-2">КУХНЯ</h3>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint.</p>
        <h3 class="room-page__title-2">МЕДІА</h3>
        <p class="room-page__text-2">Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit
            officia consequat duis enim velit mollit. </p>
        <button class="btn-book" type="button">ОФОРМИТИ БРОНЮВАННЯ</button>
        <p class="room-page__arrow-title">Повернутися до перегляду номерів</p>
    </div>
</section>  